@charset "UTF-8";

/*  --------------------------------------------------
  :: Home
  -------------------------------------------------- */

// Step Help Housing (1,2,3) ------------------

.step-help-housing {
    background: $white;
    padding: 15px 0 0 0;

    h3 {
        text-align: center;
        color: $blue-secondary;
        margin-bottom: 18px;
    }
    .step1, .step2, .step3 {
        h4 { margin: 0 0 0 0; }
        span {  font-size: 1.250em; }
    }

    .icon-search,
    .icon-stak,
    .icon-pen {
        width: 74px;
        height: 90px;
        float: left;
        margin: 0 15px 0 0;
    }
    .icon-search {
        background:url('../images/icon-step-help-housing.png') no-repeat 0 0;

        &::before {
            content: '';
        }
    }
    .icon-stak {
        background:url('../images/icon-step-help-housing.png') no-repeat -74px 0;

        &::before {
            content: '';
        }
    }
    .icon-pen {
        background:url('../images/icon-step-help-housing.png') no-repeat -148px 0;

        &::before {
            content: '';
        }
    }
}

// Content ------------------

.block-city {
    display: block;
    position: relative;
    background-color: $white;
    background-repeat: no-repeat;
    background-position: top center;
    -webkit-background-size: cover; /* pour Chrome et Safari */
    -moz-background-size: cover; /* pour Firefox */
    -o-background-size: cover; /* pour Opera */
    background-size: cover; /* version standardisée */
    color: $blue-secondary;
    text-decoration: underline;
    height: 100px;
    overflow: hidden;

    // @include box-shadow-number-city($box-shadow-size-block-city, $box-shadow-color);
    .inner {
        z-index: 10;
        padding: 15px 10px 5px 10px;
        color: #FFF;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        h5 {
            font-size: 1em;
            margin: 0;
            color: #FFF;
        }
        p {
            margin: 0;
        }
        strong {
            font-size: 0.875em;
        }
    }
}

// Listing new & favorite ------------------

.section-container {
    .active {
        .title.new {
            border-right: solid 1px $yellow;
            border-left: solid 1px $yellow;
            border-top: solid 3px $yellow;
        }
        .title.favorite {
            border-right: solid 1px $success;
            border-left: solid 1px $success;
            border-top: solid 3px $success;
        }
    }

    a.btn-new,
    a.btn-favorite {
        font-weight: bold;
        font-size: 1.3em;
    }
    .btn-new { color: $yellow; }
    .btn-favorite { color: $success; }

    .mg-right { margin: 0 10px 0 0; }   // margin right for the icon on tab button (btn-new, btn-favorite)

    .border-new { border-top: solid 1px $yellow; }
    .border-favorite { border-top: solid 1px $success; }

    .link-new,
    .link-favorite {
        font-weight: bold;
        font-size: 0.75em;
        margin: -5px 0 15px 0;
    }
    .link-new { color: $yellow; }
    .link-favorite { color: $success; }
}

.listing-new,
.listing-favorite {

    address { margin: 0 0 10px 0 }

    .description-residence {
        font-size: 0.875em;
        margin: 0;
        height: 80px;
    }
}

