@charset "UTF-8";

/*  ----------------------------------------------
:: Record
-------------------------------------------------- */

.record-form,
.account {

    div {
        .back { margin: 0 0 20px 0; }
    }

    // Step train common css ------------------
    .step-train-form,
    .step-train-room-mate {
        padding: 0 0 8px 0;
        li {
            font-family: $global-fonts;
            text-align: center;
        }
        .disabled,
        .active {
            position: relative;
            width: 230px;
            height: 40px;
            padding: 10px 40px;
        }
    }
    // Step train form ------------------
    .step-train-form  {
        li {
            .num-step {
                float: left;
                border-radius: $global-border-radius;
                width: 25px;
                height: 25px;
                margin: -2px 0 0 0;
                padding: 2px 0 0 0;
            }
        }
        .disabled {
            background: $white;
            color: $blue;
            .num-step { border: solid 1px $blue; }
        }
        .active {
            background: $blue;
            color: $white;
            .num-step { border: solid 1px $white; }
        }
        .arrow-step-train {
            background: url('../images/icon-arrow.png') no-repeat -18px center;
            height: 40px;
            width: 12px;
            padding: 10px 0;
        }
    }
    // Step train room-mate ------------------
    .step-train-room-mate {
        float: left;
        .disabled {
            background: $white;
            color: $blue-secondary;
        }
        .active {
            background: $blue-secondary;
            color: $white;
        }
    }

    .step-train {
        position: relative;
        text-align: center;

        @media only screen {
            .lang-switcher {
                margin-bottom: 2em;
                text-align: center;
                display: inline-block;
                box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);

                .current-locale {
                    display: none;
                }
                .goto-locale {
                    display: inline-block;
                }
            }
        }

        @media only screen and (min-width: 640px) {
            .lang-switcher {
                display: inline-block;
                position: absolute;
                top: 0;
                right: 0;

                .current-locale {
                    display: inline-block;
                }
                .goto-locale {
                    display: none;
                }

                &:hover {
                    background: $yellow;
                    .current-locale {
                        display: none;
                    }
                    .goto-locale {
                        display: inline-block;
                    }
                }
            }
        }

        .lang-switcher {
            padding: 10px;
            line-height: 1.6em;
            font-size: 0.8em;
            text-align: center;
            border-radius: 6px;
            background: $blue-secondary;
            transition: background-color 0.5s;
            color: $white;

            a, div {
                display: inline-block;
                color: $white;
                text-decoration: none;
            }
        }
    }

    .helper {
        background-image: url('../images/help.png');
        background-position: right center;
        background-repeat: no-repeat;
        width: 16px;
        height: 16px;
        display: inline-block;
        margin-left:10px;
        cursor: help;
    }

    .f-dropdown.content.helper-content {
        margin-left: -10px;
        margin-top: 10px;
    }


    form.custom {
        .title-part-form {
            h2 { float: left; }
            p {
                float: right;
                font-style: italic;
            }
            p.detail {
                clear: both;
                float: none;
                font-style: normal;
            }
            .btn-remove-tenant,
            .btn-remove-guarantor {
                background: $black;
                box-shadow: none;
                margin: 15px 0;
                border: none;
                &:hover,
                &:focus { background: $black; }
            }
            .required-sign {
                @extend label.required;
            }
        }
        label { white-space: nowrap; }
        label.required:after {
            content: "*";
            margin-left: 2px;
            font-weight: bold;
            color: $alert;
            font-family: $global-fonts;
        }
        .long-label label {
            white-space: pre-wrap;
            line-height: 20px;
        }
        .checkbox.checked {
            &:before {
                content: "✔";
                margin-top: 5px;
            }
        }
        .calculate {
            padding: 25px 0 0 0;
            p { font-style: italic; }
        }
        .textarea-comment {
            height: 130px;
        }
        .btn-next {
            .arrow-next {
                display: inline-block;
                width: 8px;
                height: 15px;
                vertical-align: middle;
                margin: -3px 0 0 10px;
                background: url('../images/icon-arrow.png') no-repeat -30px -2px;
            }
        }
        .btn-add-tenant {
            background-color: $yellow;
            margin: 0 20px 0 0;
            &:hover {
                border-color: $yellow;
            }
            .arrow-tenant {
                display: inline-block;
                width: 14px;
                height: 15px;
                margin: 0 0 0 10px;
                background: url('../images/icon-arrow.png') no-repeat -38px -2px;
            }
        }
        .hidden { display: none; }
    }
    .date-picker-wrapper {
        position: relative;
        span.date-picker-icon {
            position: absolute;
            right: 0;
            bottom: 5px;
            width: 20px;
            height: 22px;
            display: block;
            float: left;
            margin: 0 6px 0 6px;
            background: url('../images/icon-action.png') no-repeat -40px 0;
            cursor: pointer;
        }
    }

    .school-sub-form {
        padding: 2em;
        border: 1px solid #dddddd;
        border-radius: $global-border-radius;
    }
}

.reveal-modal .btn-close {
    color: #000000;
    font-size: 0.875em;
    line-height: normal;
    position: relative;
    right: 0px;
    top: 0px;
}

.services-plus-block {
    .row {
        padding-top: 10px;
        &:first-child {
            margin-top: 0;
        }
        label ~ p {
            font-size: 0.875em;
            font-style: italic;
        }
        label.radio- {
            display: inline-block;
            margin-right: 20px;
        }
    }
}

.money-row {
    display: inline-table;
    width: 100%;
    margin-bottom: 1em;
    input {
        display: table-cell;
        margin: 0;
        -webkit-border-top-right-radius: 0;
        -moz-border-top-right-radius: 0;
        border-top-right-radius: 0;
        -webkit-border-bottom-right-radius: 0;
        -moz-border-bottom-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    span {
        display: table-cell;
        width: 30px;
        text-align: center;
        vertical-align: middle;
        font-size: 0.875em;
        background: $yellow;
        color: #FFF;
        -webkit-border-top-right-radius: 4px;
        -moz-border-top-right-radius: 4px;
        border-top-right-radius: 4px;
        -webkit-border-bottom-right-radius: 4px;
        -moz-border-bottom-right-radius: 4px;
        border-bottom-right-radius: 4px;
        -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    }
}

.helper-content {
    color: $black;
}


// Summary reservation ------------------

.record-form {
    .name-tenant,
    .name-guarantor {
        font-style: italic;
        margin-bottom: 5px;
    }
    .summary {
        p {
            line-height: 1.3;
            margin-bottom: 0.8em;
        }
        .long-label label {
            line-height: 1em !important;
            font-size: 0.813em !important;
        }

        .small {
            &-form {
                border: 1px solid $blue;
                display: inline-block;
                max-width: 8rem;
            }

            &-label {
                display: inline-block;
                font-size: $default-spacing;
                margin-right: 1em;
            }
        }
    }
}

.link-upload,
.link-add-tenant,
.link-change {
    font-family: $global-fonts;
    font-size: 0.875em;
    color: $yellow;
    vertical-align: middle;
    &:hover,
    &:focus { color: $yellow; }
}
.link-upload { font-size: 1.1em; }

aside {
    .block-insurance {
        h3 {
            padding: 10px 15px;
        }
        div {
            margin: 0;
            padding: 8px 15px !important;
            color: #9e9e9e;
        }
        .law { font-size: 0.6em; }
        .insurance-block-link {
            background-color: #dfdad6;
            color: $white;
            border-radius: 4px;
            display: block;
            padding: 10px;
            font-family: 'Helvetica', 'Arial';
            text-align: center;
            font-size: 16px;
            line-height: 20px;
        }
    }
    .block-most-adele {
        padding-bottom: 0;
        p  { padding-bottom: 5px; }
    }
}

.results-residences {
    .results-residences-infos {
        background: $white;
        padding: 1em 1em .1em 1em;
    }

    .table-availabilities {
        .list-availabilities {
            background: $white;
            padding: 0 1em 1em 1em;
            clear: both;
            p {
                margin: 0 0 10px 0;
                font-weight: bold;
            }
            .date-available {
                color: $success;
                font-weight: bold;
            }
            .inline-list {
                margin: 0 0 0 -1em;
                text-transform: capitalize;
            }
        }
        th { font-weight: bold; }
        .name-accommodation {
            background: $white;
            text-align: left;
            th {
                color: $blue-secondary;
                font-size: 1em;
                text-align: left;
            }
        }
    }
}

#front_record_tenant_individual_status_student_scholarship {
    margin-bottom: 10px;
    .radio {
        display: inline-block;
        margin-left: 10px;
        &:first-child {
            margin-left: 0;
        }
    }
}

.services-plus-block .form-inline {
    margin-bottom: 10px;
    .radio {
        display: inline-block;
        margin-left: 10px;
        &:first-child {
            margin-left: 0;
        }
    }
}

.xdsoft_label {
    span {
        text-decoration: underline;
    }
}

.record-form-phone-help {
    padding-top: 0.5em;
}
