@charset "UTF-8";

// add Slick Carousel's styles
$slick-font-path: '../fonts/';
$slick-loader-path: '../images/';
$slick-arrow-color: #000;
@import "slick-carousel/slick/slick.scss";
@import "slick-carousel/slick/slick-theme.scss";

@import "../components/icons";
@import "../components/list-inline";
@import "../components/pagination";
@import "../components/ranking";

/*  --------------------------------------------------
  :: Residence
  -------------------------------------------------- */

.search-results {
    div {
        .breadcrumbs { float: left; }
        .back { margin: 0 0 20px 0; }
    }

    > .row {
        margin-left: auto;
        margin-right: auto;
    }

    .panel {
        &.infos {
            overflow: hidden;
        }
        &-new,
        &-favorite {
            padding: 1.25em;
        }
    }

    .color-alert {
        color: $alert;
    }

    // Infos residence ------------------

    .info-residence {
        clear: both;
        min-height: 392px;

        .other-info {
            li {
                font-size: .75em;
                padding: 0 15px 0 0;
                float: left;
                a { text-decoration: underline; }
            }
        }

        .ribbon-special-offers,
        .ribbon-new {
            top: 4px;
        }

        // Gallery ------------------

        .gallery-slideshow {
            margin: 5px 0;
            width: 335px;
            height: 250px;

            ul {
                margin: 0;
                padding: 0;
                position: relative;
            }

            li {
                list-style-type: none;
                position: absolute;
                display: none;

                &:first-of-type {
                    display: block;
                }
            }

            img {
                width: 335px;
                height: 250px;
                position: absolute;
                display: none;

                &:first-of-type {
                    display: inline-block;
                }
            }

            .slick-slide {
                height: 250px;
            }
        }

        .gallery-thumbnails {
            margin: 15px 0 0;
            white-space: nowrap;
            max-width: 100%;

            img {
                width: 80px;
                height: 60px;
                margin: 0 5px 5px 0;
            }

            .slick-track {
                margin: 0;
            }

            &-price {
                text-align: left;

                img {
                    margin: .5em .25em
                }
            }
        }


        // Virtual modal ------------------

        .other-info-action {
            .button {
                margin: 0 10px 0 0;
            }
            .btn-flat-border-black {
                box-shadow: none;
                background: none;
                border-color: $black;
                color: $black;

                &:hover, &:focus {
                    background: none;
                    border-color: $black;
                    text-decoration: none;
                }
            }

            .btn-flat-border-red {
                box-shadow: none;
                background: none;
                border-color: $alert;
                color: $alert;

                &:hover, &:focus {
                    background: none;
                    border-color: $alert;
                    text-decoration: none;
                }
            }

            .icon-virtual-video {
                height: 12px;
                width: 12px;
                display: block;
                float: left;
                margin: 0 5px 0 0;
                background: url('../images/icon-arrow.png') no-repeat -65px -4px;
            }
        }
    }

    // Section container ------------------

    .section-container {
        > section {
            &.active {
                > .title {
                    background-color: $yellow;
                    border-color: $yellow;
                }
            }

            > .title {
                background: rgba(#26a6bc, .3);
                border-top-left-radius: $global-border-radius;
                border-top-right-radius: $global-border-radius;
                border: solid 1px rgba(#26a6bc, .1);
                border-bottom: none;
                font-weight: bold;

                > a {
                    color: #ffffff;
                    text-decoration: none;
                }
            }
            > .content-tabs {
                background: $white;
                padding: 0;

                .panel {
                    margin-bottom: 0;
                }
            }
        }
    }

    // Table availability ------------------

    .table-availabilities {

        .information {
            color: #909090;
            font-size: .8em;
            padding: .25em 0;
            margin: 0;
        }

        .warning {
            color: #e62227;
            font-size: .8em;
            padding: .25em 0;
            margin: 0;
        }

        .list-availabilities {
            background: $white;
            clear: both;
            padding: 1em;

            p {
                font-weight: bold;
                margin: 0 0 10px 0;
            }

            .date-available {
                color: $success;
                font-weight: bold;
            }

            .inline-list {
                margin: 0 0 0 -1em;
                text-transform: capitalize;
            }
        }

        .availabilities-cross-sell {
            .ribbon-special-offers,
            .ribbon-new {
                left: 9px;
            }
        }
    }

    .btn-availability {
        border: solid 1px $yellow;
        background: $yellow;
    }

    // Amenities residences & logements... ------------------

    .amenities-residences,
    .amenities-logements,
    .how-to-contact {

        h3 {
            font-family: $global-fonts;
            color: $blue;
        }
    }
    .amenities-logements {
        .type-logement { color: $blue-secondary; }
    }

    .amenities-residences,
    .amenities-logements,
    .school-university-near {
        .panel ul { margin-left: 0; }
        .small-block-grid-3 {
            // li { padding-bottom: 0; }
        }
    }

    // Promotions ------------------

    .current-promotion {
        .panel ul {
            margin-left: 0;
            li { padding-left: 0; }
        }

        .date-promo {
            font-family: $global-fonts;
            font-size: 1rem;
        }
        .promo {
            color: $alert;
            font-family: $global-fonts;
            font-weight: normal;
            font-size: .813rem;
            margin-bottom: 5px;
        }
        .description-promo {
            color: $grey-medium;
            margin: 0;
            font-size: .813rem;
            margin-bottom: 0;
        }
    }

    // Form how to contact ------------------

    .how-to-contact {
        p { margin: 0; }
        .faq {
            .custom.dropdown ul {
                max-height: 300px;
            }
        }
        .question {
            font-family: $global-fonts;
            font-size: 14px;
            font-weight: bold;
        }
        .unfound-question {
            h3 { color: $global-fonts; }
            a { text-decoration: underline; }
        }
        .faq {
            label {
                font-family: $global-fonts;
                font-size: 0.9em;
                color: $black;
                font-weight: bold;
            }
        }
    }
    .law {
        color: #7b7b7b;
        font-size: 0.750em;
        a {
            color: #7b7b7b;
            text-decoration: underline;
        }
    }
}

.service-pictos {
    font-size: 1em;
    margin: 0 0 10px 0;

    img {
        height: 1.2em;
        margin-right: 3px;
    }
}

// Aside phone help ------------------

.phone-help-aside {
    @extend .phone-help;
    background: $blue-secondary;
    margin: 0 0 20px 0;
}

// Modal contact form ------------------

.modal-contact {
    .phone-help-modal {
        @extend .phone-help-aside;
    }
}

// Modal Virtual tour and video ------------------

.modal-virtual {
    .modal-virtual-video,
    .modal-virtual-tour {
        height: 259px;
        width: 500px;
        margin: 0 110px 20px 110px;
    }
}

// Residence availability table ------------------
table#residence-availability {
    thead {
        height: 60px;
        th {
            text-align: center;
            font-weight: bold;
            p { margin: 0;}
        }
    }
    tbody {
        font-size: 0.875em;
        .name-accommodation {
            background: $white;
            text-align: left;
            th {
                color: $blue-secondary;
                font-size: 1em;
                text-align: left;
            }
        }
        tr {
            text-align: center;
            .accommodation { text-align: left; }
        }
    }

    .services {
        margin-top: 0.5em;
    }

    .see-more {
        border: solid 1px $yellow;
        color: $white;
        background: $yellow;
        font-weight: bold;
        width: 25px;
        padding: 0.1em;
        margin-right: 3px;
        font-size: 1.3em;
    }

    .link-book {
        &:hover { text-decoration: none; }
    }

    .unlock {
        width: 85px;
        .postfix {
            width: 20px;
            padding: 0 3px;
            border: none;
            background: #fff;
        }
        span.arrow-padlock {
            width: 12px;
            height: 15px;
            display: block;
            margin: 4px 0;
            background: url('../images/icon-account.png') no-repeat -73px 0;
        }
        input{
            border-radius: 0;
            box-shadow: none;
        }
        button {
            -webkit-border-top-left-radius: 0;
            -moz-border-top-left-radius: 0;
            border-top-left-radius: 0;
            -webkit-border-bottom-left-radius: 0;
            -moz-border-bottom-left-radius: 0;
            border-bottom-left-radius: 0;
            padding: 0;
        }
    }

    .detail-accommodation {
        text-align: left;
        font-size: 0.975em;
        font-family: $global-fonts;
        background: $white;

        h4 {
            font-family: $global-fonts;
            font-weight: bold;
        }

        .small-block-grid-3 {
            li { padding-bottom: 0; }
        }
    }
    .dpe,
    .ges {
        background-image: url('../images/dpe.png');
        background-repeat: no-repeat;
        height: 20px;
        width: 180px;
        text-indent: -1000px;
        overflow: hidden;
    }
    .dpe.a {
        background-position: -4px -3px;
    }
    .dpe.b {
        background-position: -4px -25px;
    }
    .dpe.c {
        background-position: -4px -48px;
    }
    .dpe.d {
        background-position: -4px -70px;
    }
    .dpe.e {
        background-position: -4px -92px;
    }
    .dpe.f {
        background-position: -4px -114px;
    }
    .dpe.g {
        background-position: -4px -136px;
    }

    .ges.a {
        background-position: -194px -3px;
    }
    .ges.b {
        background-position: -194px -25px;
    }
    .ges.c {
        background-position: -194px -48px;
    }
    .ges.d {
        background-position: -194px -70px;
    }
    .ges.e {
        background-position: -194px -92px;
    }
    .ges.f {
        background-position: -194px -114px;
    }
    .ges.g {
        background-position: -194px -136px;
    }

    tr {
        &.default-row {
            background: #FFF;
            td {
                background: #fff5d3;
            }
        }
        &.detail-row {
            background: #FFF;
            td {
                background: #FFF;
            }
        }

        td,
        th {
            padding: .5em .375em;

            .inline-title {
                padding-right: 10px;
                white-space: nowrap;
                font-weight: bold;
                width: 50%;
                display: none;
            }

            &.charges {
                &--fixed {
                    width: 2rem;
                }
            }

            &.charges-header {
                padding: 0;
                height: 100%;

                table {
                    margin: 0;
                    height: 100%;
                    width: 100%;
                    background: transparent;

                    .main-line {
                        th,
                        td {
                            border: 0;
                            font-size: inherit;
                        }
                    }

                    .secondary-line {
                        th,
                        td {
                            border-width: 0;
                            border-left-width: 1px;
                            border-top-width: 1px;

                            &:first-child {
                                border-left-width: 0;
                            }
                        }
                    }
                }
            }
        }
    }
    thead {
        tr {
            &:nth-of-type(2n) {
                background: inherit;
            }
        }
    }

    .small-only {
        display: none;
    }

    .not-small {
        display: table-cell;
    }

    .gallery-thumbnails {
        text-align: left;
        img {
            margin: .5em .25em
        }
    }
}

.option-availability {
    font-size: 120% !important;

    &-text {
        display: none;
    }

    &.option-available {
        color: #008000;
    }

    &.option-unavailable {
        color: #800000;
    }
}

.readmore-js-toggle {
    font-size: 0.750em;
    text-align: right;
}

// Residence review --------------------------------
[name=residence_review_submit_command] {
    fieldset {
        [for=residence_review_submit_command_rate] {
            margin-bottom: 1.5em;
        }
        h3 {
            margin: 1em 0 0.5em 0;

            &:first-child {
                margin-top: 0;
            }
        }

        #residence_review_submit_command_recommend-group, #residence_review_submit_command_reasonChoices-group {
            margin-bottom: 1em;
        }

        #residence_review_submit_command_reasonProximityChoices-group {
            padding-left: 2em;
        }

        ul.list-unstyled li.text-danger {
            list-style-type: none;
            color: $alert;
        }
    }

    section.photo-section {
        background-color: $white;
        border-radius: $global-border-radius;
        margin-bottom: 2em;
        padding: 1em;

        > fieldset {
            border: none;
            padding: 0;
            margin: 0;
        }

        .photo-field-container > div {
            border-radius: $global-border-radius;
            border: solid #ddd thin;
            padding: 1em;
            margin-bottom: 1em;

            fieldset {
                border: none;
                padding: 0;
                margin: 0;
            }
        }
    }
}

.residence {
    &-header {
        display: flex;
        justify-content: space-between;
    }

    &-name {
        flex-grow: 2;
    }

    &-rate {
        flex-grow: 1;
    }
}

.residence-reviews {
    .media {
        border-bottom: 1px solid #ccc;
        margin-top: 20px;
        width: 100%;

        &:last-child {
            border-bottom-color: transparent;
        }

        &-object {
            display: block;
        }

        &-left {
            text-align: center;
            padding-right: 20px;
        }

        &-left,
        &-right,
        &-body {
            display: table-cell;
            vertical-align: top;
        }

        &-body {
            width: 100%;
        }

        &-heading {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 5px;
            margin-top: 0;
        }

        .date-comment,
        .date-stay,
        .name-avatar {
            margin-bottom: 0;
        }

        .name-avatar {
            font-size: 18px;
            display: inline-block;
            margin-right: 10px;
        }

        .date-comment,
        .date-stay {
            font-size: 13px;
            display: inline-block;
            margin-right: 20px;
        }

        img {
            margin-bottom: 3px;
            min-width: 85px;
            width: 85px;
        }
    }

    .reply {
        border-left: solid 8px #efefef;
        margin-bottom: 1rem;
        padding-left: 1rem;

        p {
            margin-bottom: 0;
        }
    }
}

.rate {
    align-items: center;
    display: flex;
    font-size: .75rem;
    justify-content: flex-end;
    margin-bottom: .5rem;
    max-width: 32%;
    text-align: right;
    width: 100%;

    .rating.list-inline {
        float: none;
        min-width: 100px;
    }

    &-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        height: 0;
        margin-top: .5rem;
        overflow: hidden;
        transition: height .25s;
        width: 100%;

        .rate {
            opacity: 0;
            transition: opacity .25s;
        }

        &-opened {
            height: 5.5rem;

            .rate {
                opacity: 1;
            }

            & + .rate-toggler {
                .rate-less {
                    display: block;
                }

                .rate-more {
                    display: none;
                }
            }
        }
    }

    &-toggler {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        margin: .5rem 0;
    }

    &-less,
    &-more {
        font-size: .75rem;
        text-decoration: underline;
        text-decoration-color: $rating-main-color;

        &::after {
            font-family: 'FontAwesome';
            color: $rating-main-color;
        }
    }

    &-less {
        display: none;
        &::after {
            content: $fa-var-caret-up;
        }
    }

    &-more {
        &::after {
            content: $fa-var-caret-down;
        }
    }
}

.sr-only {
    display: none;
}

.img-circle {
    border-radius: 50%;
}

.tabs {
    position: relative;

    &.panel {
        padding-top: 0;
        margin-top: 3.75em;
        z-index: 10;

        ul {
            margin: 0;
        }
    }

    &-menu {
        align-items: stretch;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        list-style: none;
        margin: 0;
        height: 1.25rem;
        padding: 0;
        width: 100%;
        position: relative;
        top: -3.2em;

        &-item {
            display: inline-block;
            margin: 0 10px 0 0;

            &.active {
                a {
                    background-color: $yellow;
                    border-color: $yellow;
                    color: #ffffff;
                }
            }

            &.special-offers {
                a {
                    border-bottom: none;
                }
            }

            a {
                background: rgba(#26a6bc, .3);
                border-bottom: none;
                border-top-left-radius: $global-border-radius;
                border-top-right-radius: $global-border-radius;
                border: solid 1px rgba(#26a6bc, .1);
                color: #ffffff;
                display: inline-block;
                font-weight: bold;
                height: 3em;
                line-height: 2.5em;
                padding: .25em .5em;
                text-decoration: none;
            }
        }
    }

    .js-tabs-height {
        height: auto !important;
        z-index: 50;
    }

    &--small {
        .tabs-menu {
            display: none;
        }
    }

    .tab {
        background: $white;
        display: none;
        padding: 0;
        position: relative;
        transform: scaleY(0);

        .panel {
            margin-bottom: 0;
        }

        hr {
            display: none;
        }

        &.active {
            display: block;
            width: 100%;
            position: relative !important;
            transform: scaleY(1);
        }
    }

    &-content {
        width: 100%;
    }
}

.slick-next {
    right: -5px;
    z-index: 1;
}

.slick-prev {
    left: -5px;
    z-index: 1;
}

.slick-lightbox {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background: black;
    -webkit-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease
}
.slick-lightbox .slick-loading .slick-list {
    background-color: transparent
}
.slick-lightbox {
    .slick-prev {
        left: 15px
    }

    .slick-next {
        right: 15px
    }
    .slick-prev,
    .slick-next {
        box-shadow: none;

        &::before {
            color: #fff;
        }
    }
}
.slick-lightbox-hide {
    opacity: 0
}
.slick-lightbox-hide.slick-lightbox-ie {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0)
}
.slick-lightbox-hide-init {
    position: absolute;
    top: -9999px;
    opacity: 0
}
.slick-lightbox-hide-init.slick-lightbox-ie {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0)
}
.slick-lightbox-inner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}
.slick-lightbox-slick-item {
    text-align: center;
    overflow: hidden
}
.slick-lightbox-slick-item:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em
}
.slick-caption-bottom .slick-lightbox-slick-item .slick-lightbox-slick-item .slick-lightbox-slick-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100%;
    margin-bottom: 20px
}
.slick-caption-dynamic .slick-lightbox-slick-item .slick-lightbox-slick-item .slick-lightbox-slick-caption {
    display: block;
    text-align: center
}
.slick-lightbox-slick-item-inner {
    display: inline-block;
    vertical-align: middle;
    max-width: 90%;
    max-height: 90%
}
.slick-lightbox-slick-img {
    margin: 0 auto;
    display: block;
    max-width: 90%;
    max-height: 90%
}
.slick-lightbox-slick-caption {
    margin: 10px 0 0;
    color: #fff;
}
.slick-lightbox-close {
    background: transparent;
    border-radius: 50%;
    border: none;
    box-shadow: none;
    color: transparent;
    cursor: pointer;
    display: block;
    font-size: 0;
    height: 20px;
    line-height: 0;
    padding: 0;
    position: absolute;
    right: 15px;
    top: 15px;
    width: 20px;

    &:hover,
    &:focus {
        outline: none;
        background: #fff;
        color: #000;
    }

    &::before {
        font-family: "slick";
        font-size: 20px;
        line-height: 1;
        color: #fff;
        opacity: 0.85;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content: '×';
        position: relative;
        top: -3px;

        &:hover,
        &:focus {
            color: #000;
        }
    }
}
