@charset "UTF-8";

/*  --------------------------------------------------
  :: Listing residences
  -------------------------------------------------- */

.grid-setting {
    float: right;
    .btn-list,
    .btn-map {
        font-family: $global-fonts;
        text-transform: uppercase;
        margin: 0 0 0 10px;
        background: none;
        border: none;
        box-shadow: none;
        color: $black;
        padding: 5px;

        .icon-list,
        .icon-map {
            display: block;
            height: 17px;
            float: left;
            margin: -2px 5px 0 0;
        }
        &.active {
            font-weight: bold;
            text-decoration: underline;
        }
    }
    .icon-list {
            background: url('../images/icon-setting.png') no-repeat 0 0;
            width: 13px;
        }
    .icon-map {
        background: url('../images/icon-setting.png') no-repeat -14px 0;
        width: 18px;
    }
}

.results-residences {
    position: relative;

    address { margin: 5px 0 0 0; }

    .ribbon-special-offers,
    .ribbon-new {
        left: 19px;
    }

    img {
        max-height: 120px;
        max-width: 158px;
        margin: 0 0 20px 0;
        width: auto;
        height: 100%;
    }

    img.img-info {
        width: 15px;
        height: 15px;
        margin: 0;
    }

    li a.date-available {
        color: $success;
        font-weight: bold;
    }

    .inline-list {
        margin-left: -0.75em;

        .title-list {
            font-weight: bold;
            color: $black;
        }
    }

    .btn-flat-border { margin-right: 15px; }
}

.switchable {
    display: none;

    &.active {
        display: block;
    }
}
