* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  color: $grey-darker;
  background: $white;
}

h1,
h3,
a,
.orange-title {
  font-weight: 600;
}

h1,
h3 {
  font-family: $global-fonts;
  margin-bottom: 1rem;
}

h1 {
  color: $blue;
  font-size: $medium-spacing;
}

h3 {
  font-size: 1.2em;
  margin-top: 3rem;
}

p {
  font-size: $default-spacing;
  margin: $small-spacing 0;
}

h1,
.panel {
  margin-left: auto;
  margin-right: auto;
  max-width: 70vw;
}

ul {
  list-style: initial;
  margin-bottom: 1rem;
  padding-left: 1rem;
}

a {
 color: $blue;

 &:hover,
 &:focus,
 &:active {
  color: $yellow;
 }
}

img {
  width: auto;
}

table {
  margin-bottom: $big-spacing;
}

thead {
  tr {
    background: $grey-lighter;
  }

  th {
    font-size: .9em;
    padding-bottom: $small-spacing;
    padding-top: $small-spacing;
    vertical-align: middle;
  }
}

tbody {
  tr {
    border-bottom: 1px solid $grey-lighter;
  }

  td {
    padding-bottom: $tiny-spacing;
    padding-top: $tiny-spacing;
    text-align: center;
  }
}

.panel {
  &:first-of-type {
    h3 {
      margin-top: 1rem;
    }
  }

  &:last-of-type {
    margin-bottom: 5rem;
  }
}

.orange-title {
  color: $yellow;
  font-size: $default-spacing;
}

.main-content {
  h1 {
    margin-top: 4rem;
  }
}

.glossary {
  &-letters {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding-left: 0;

    li {
      margin: .5rem;

      a {
        &:hover {
          color: $yellow;
        }
      }
    }
  }

  dt {
    font-weight: 600;
  }

  dd {
    margin-bottom: $default-spacing;
  }
}

@media (max-width: $breakpoint-small) {
  h1 {
    font-size: 1.2em;
    text-align: center;
  }

  h3 {
    font-size: $default-spacing;
  }

  h1,
  .panel {
    max-width: 90vw;
  }

  .main-content {
    h1 {
      margin-top: 2rem;
    }
  }
}
