$button-background: #19A7C0 !default;
$button-background-hover: darken($button-background, 5%) !default;
$button-border-color: $button-background-hover !default;

@mixin button-base() {
    background-color: $button-background;
    border-color: $button-border-color;
    border-radius: 6px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba($white, .5) inset;
    color: $white;
    cursor: pointer;
    display: inline-block;
    font-family: "Helvetica", "Arial";
    font-size: .875em;
    margin: 0;
    padding: .5em .75em;
    position: relative;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: transparent;
    transition: background-color .3s, text-decoration-color .3s;

    &:active,
    &:hover,
    &:focus {
        outline: 0;
        text-decoration: underline;
        background-color: $button-background-hover;
        text-decoration-color: lighten($button-background, 20%);
    }
}

@mixin button() {
    @include button-base();
}

.button {
    @include button();
}
