body {
    font-size: 10px;
    line-height: 10px;
}

.header {
    display: none;
}

.content {
    width: 100%;
    max-width: 100%;
    padding: 0;
}

.service {
    &--budget {
        h2,
        .chapo {
            display: none;
        }
    }

    &__columns {
        display: block;
    }

    &__column {
        width: 100%;
        padding: $spacing-half;

        &--plus {
            h3 {
                display: none;
            }
        }
    }

    .content {
        .table {
            td {
                padding: 0;
            }
        }
    }
}
