$rating-main-color: #fb004a !default;
$rating-main-color-hover: lighten($rating-main-color, 30%) !default;

.rating,
.panel ul.rating {
  display: inline-block;
  flex-grow: 1;
  margin-bottom: 0;
  margin-left: 0;
  vertical-align: middle;

  .rating-count {
    display: inline-block;
    float: right;
  }

  .rating-label {
    color: #ccc;
    font-size: 14px;
    float: right;
    margin-right: 4px;
    text-decoration: none;
    transition: color .2s;
    display: inline-block;

    &.inactive,
    &-active {
      &:not(.rating-label-half) {
        text-shadow: 0 0 1px #000;
      }
    }

    &.inactive {
      color: #FFF;
    }

    &::before {
      font-family: 'FontAwesome';
      display: inline-block;
      content: $fa-var-star;
    }

    &-half {
      &::before {
        content: $fa-var-star-half;
        position: absolute;
        margin-left: 4px;
      }
    }

    &-active {
      &::before {
        color: $rating-main-color;
      }
    }

    &-text {
      display: none;
    }
  }

  &.rating-form {
    .rating-label:hover, /* hover current star */
    .rating-label:hover ~ .rating-label {
      &::before {
        color: $rating-main-color-hover;
      }
    } /* hover previous stars in list */
  }
}
