$footer-separator: '|' !default;

.footer {
  align-items: center;
  background-color: $grey-darker;
  color: $white;
  display: flex;
  flex-direction: column;
  font-size: .8em;
  line-height: 1.4;
  padding: $tiny-spacing 0;
  z-index: $index-secondary-menu;

  &__nav {
    padding: $tiny-spacing 0;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    &-element {
      align-items: center;
      display: inline-flex;
      padding: 0 $default-spacing;

      &:not(:last-of-type) {
        border-right: 1px solid;
      }
    }
  }

  &__link {
    color: currentColor;
    text-decoration: none;

    &:hover,
    &:active,
    &:focus {
      text-decoration: underline;
    }

    &--logo {
      display: inline-flex;
      height: 100%;
      max-height: 2rem;
    }
  }

}

@media screen and (max-width: $breakpoint-large) {
  .footer {
    &__list {
      &-element {
        flex-grow: 1;
        justify-content: center;
        padding: $tiny-spacing $small-spacing;

        &:not(:last-of-type) {
          border: 0;
        }
      }
    }
  }
}
