.main {
  display: flex;
  flex-basis: 100%;
  flex-grow: 7;
  justify-content: space-between;
  padding: 0;
  position: relative;

  &__wrapper {
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    max-height: 100%;
    overflow: auto;
  }

  &__secondary {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 30rem;
    width: 30rem;
    z-index: 1;
  }

  &__primary {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    width: 100%;
  }

  &__main {
    flex-grow: 2;
  }

  &__submit {
    font-size: 1.4em;

    &.disabled {
      background-color: $grey-medium;
      border-color: $grey-medium;
      cursor: not-allowed;

      &:hover,
      &:focus,
      &:active {
        background-color: $grey-medium;
      }
    }
  }
}

@media screen and (max-width: $breakpoint-large) {
  .main {
    flex-direction: column;

    &__navigation {
      background-color: $color-background;
      height: 100%;
      left: -100vw;
      max-width: 100%;
      position: absolute;
      transition: left .25s;
      width: 100%;

      .menu__toggle {
        right: -3.5rem;
        transform: rotate(180deg);
      }

      &--opened {
        left: 0;

        .menu__toggle {
          right: 0;
          transform: rotate(0);
        }
      }
    }

    &__secondary {
      max-width: 100%;
      width: 100%;

      &--search {
        height: 100%;
        width: 100%;
        max-width: 100%;
        position: absolute;
      }
    }

    &__primary {
      height: 100%;
      max-width: 100%;
      width: 100%;
    }

    &__wrapper {
      max-height: unset;
    }
  }
}
