////
/// @author Drakona <contact@drakona.fr>
/// @group front/pages
///
/// @since 17/04/2019
////

///
/// Home page
///
.home {
  overflow: hidden;

  .arrow-list {
    .button {
      margin-top: $default-spacing;
    }
  }
}
