////
/// @author Drakona <contact@drakona.fr>
/// @group front/pages
///
/// @since 27/03/2019
////

///
/// Record
///

.summary {
  &__people {
    display: flex;
    flex-direction: row;
    flex: 1 1 100%;
    padding: $small-spacing 0;

    &-title {
      font-weight: bold;
      text-transform: uppercase;

      sup {
        text-transform: none;
      }
    }

    &-name {
      padding: 0 $small-spacing;
    }
  }

  &__form {
    padding: $big-spacing $small-spacing;

    &-button {
      margin: $big-spacing 0;
    }
  }

  &__text {
    margin: $big-spacing 0;

    &--title {
      font-weight: bold;
    }

    ul {
      list-style: disc;
      padding-left: $default-spacing;
    }

    li {
      margin: $tiny-spacing 0;
    }
  }
}

@media screen and (min-width:0\0) {
  .record {
    .section {
      display: block;
      max-width: 95vw;

      &__content {
        display: block;
      }
    }

    .content {
      &__wrapper {
        display: block;
      }
    }
  }
}

@media #{"\\0 screen"} {
  .record {
    .section {
      display: block;
      max-width: 95vw;

      &__content {
        display: block;
      }
    }

    .content {
      &__wrapper {
        display: block;
      }
    }
  }
}

@media not all and (min-resolution:.001dpcm)
{ @supports (-webkit-appearance:none) {
  .record {
    .section {
      display: block;
      max-width: 95vw;

      &__content {
        display: block;
      }
    }

    .content {
      &__wrapper {
        display: block;
      }
    }
  }
}}
