.school-whitelabel-photo-selector {
    input[type="radio"] {
        display: none;

        &:checked + label img {
            outline: solid red 2px;
        }
    }

    img {
        cursor: pointer;
    }
}
