$theme-colors: (
  'black': #000000,
  'blue': #2c7db6,
  'green': #58b658,
  'grey': #959595,
  'orange': #e56638,
  'red': #c84343,
  'turquoise': #c84343,
  'violet': #97558e,
  'yellow': #e2c12a,
);

.theme {
  @each $key, $color in $theme-colors {
    &--#{$key} {
    }
  }

  .not-on-wl {
    display: none;
  }

  &--realista {
    @include whitelabel-theme(
      $main-color: #b9313b,
      $dark-gray: #565656,
      $light-gray: #e0e0e0,
      $highlighted-color: lighten(#b9313b, 5%),
      $is-dark-backgound: true
    );
  }

  &--arpej {
    @include whitelabel-theme(
      $main-color: #c51204,
      $dark-gray: #666,
      $light-gray: #e0e0e0,
      $highlighted-color: lighten(#c51204, 5%)
    );
  }

  .main-content {
    padding-top: 3.25rem !important;

    &__main {
      max-width: 100%;
    }

    &__side {
      display: none;
    }

    &--header-searchless {
      padding-top: 0 !important;
    }
  }

  .header {
    &__alert {
      &-box {
        top: 0;
      }
    }
  }
}

@media (max-width: $breakpoint-small) {
  .theme {
    .main-content {
      padding-top: 4.25rem !important;

      &--searchless {
        padding-top: 0 !important;
      }
    }
  }
}
