$black: #444;
$white: #FFF;
$gray: #AAA;
$gray-light: #CCC;
$gray-lighter: #D4D4D4;
$orange: #F39223;
$green: #00B050;
$red: #FF0000;

$color-main: #19A7C0;
$color-main-as-background: #94B1C0;
$color-secondary: #99B5C3;
$color-secondary-alt: #2B7193;

$color-background: #FCFCFC;

$green-background: #E2EFDA;
$red-background: #FF7C80;
$blue-background: #DDEBF7;

$color-text: $black;

$spacing-normal: 1rem;
$spacing-double: #{$spacing-normal * 2};
$spacing-half: #{$spacing-normal / 2};
$spacing-quarter: #{$spacing-normal / 4};

$breakpoint: 62.5rem;
