.faq {
  display: flex;
  justify-content: space-around;
  flex-direction: column;

  &__text {
    margin: $small-spacing $default-spacing;

    .strong {
      color: $blue-light;
    }

    p {
      margin-bottom: $default-spacing;
    }
  }

  &__list {
    padding-left: $default-spacing;

    &-element {
      @include list-before($size: .8em);
      margin-bottom: $small-spacing;
    }
  }

  &__title {
    font-size: 1.8em;
    text-align: left;
    margin-bottom: $small-spacing;
    margin-top: $small-spacing;
    padding-bottom: $tiny-spacing;
    border-bottom: 1px solid $grey-dark;

    .strong {
      color: $color-secondary;
    }
  }

  &__subtitle {
    font-size: 1.4em;
    margin-bottom: $small-spacing;
    margin-top: $default-spacing;
    color: $grey-medium;
  }
}
