.payment {
  min-height: 4.5rem;

  &__wrapper {
    align-self: center;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    max-width: 20rem;
    text-align: center;
    width: 100%;
  }

  &__subtext {
    font-size: .85rem;

    .fa {
      color: $color-secondary;
    }
  }
}
