.slider {
  &-wrapper {
    min-height: 4em;
    padding: $default-spacing $small-spacing;
  }

  &__field,
  &__hidden {
    display: none;
  }

  &--maxRent {
    .ui-slider-pip {
      .ui-slider-label {
        visibility: hidden;
      }

      &:nth-of-type(4n-2),
      &:first-of-type,
      &:last-of-type {
        .ui-slider-label {
          visibility: visible;
        }
      }
    }
  }

  &--radius {
    .ui-slider-pip {
      .ui-slider-label {
        visibility: hidden;
      }

      &:nth-of-type(2n+1),
      &:first-of-type,
      &:last-of-type {
        .ui-slider-label {
          visibility: visible;
        }
      }
    }
  }

  &.ui-slider {
    border-radius: 3px;
    background: $white;
    border: 0;
    height: 3px;
  }

  &.dateslider {
    &.ui-slider-pips .ui-slider-label {
      width: 4em;
    }

    &.ui-slider-float .ui-slider-tip,
    &.ui-slider-float .ui-slider-tip-label {
      width: 5em;
      margin-left: -2.5em;
    }
  }

  .ui-slider-handle {
    background: $yellow;
    border: 0;
    border-radius: 16px;
    height: 16px;
    margin-left: -8px;
    top: -6px;
    width: 16px;
  }

  .ui-slider-pip {
    top: 3px;

    .ui-slider-line {
      display: none;
    }
  }

  .ui-slider-pip.ui-slider-pip-last,
  .ui-slider-pip.ui-slider-pip-first {
    top: -7px;
  }

  .ui-slider-pip.ui-slider-pip-last .ui-slider-line,
  .ui-slider-pip.ui-slider-pip-first .ui-slider-line {
    display: none;
  }

  .ui-slider-pip.ui-slider-pip-last .ui-slider-label,
  .ui-slider-pip.ui-slider-pip-first .ui-slider-label {
    margin: 0;
  }

  .ui-slider-pip.ui-slider-pip-selected-initial {
    font-weight: normal;
  }

  .ui-slider-pip.ui-slider-pip-selected {
    font-weight: bold;
  }

  .ui-slider-pip.ui-slider-pip-selected,
  .ui-slider-pip.ui-slider-pip-selected-initial {
    color: #434d5a;
  }

  &.ui-slider-pips {
    .ui-slider-label {
      left: auto;
      margin-left: unset;
      top: 1em;
      transition: color .3s, font-weight .3s;
    }

    .ui-slider-pip {
      top: 3px;
      color: $white;
    }

    .ui-slider-pip-inrange {
      color: $black;
    }

    [class*="ui-slider-pip-selected"] {
      color: $black;
    }
  }

  .ui-widget-header {
    background-image: none;
    background-color: rgba($color-secondary, .3);
  }
}
