/// @type number
$bubble-size-default: 1.25em;

/// @type number
$bubble-size-tiny: .5em;

/// @type number
$bubble-size-small: .75em;

/// @type number
$bubble-size-big: 1.75em;

/// @type number
$bubble-size-huge: 2em;

/// @type number
$bubble-size-enormous: 2.5em;

///
/// Bubble
///
.bubble {
  align-items: center;
  border: 0;
  border-radius: 50%;
  display: inline-flex;
  flex: 0 0 1.5em;
  height: 1.5em;
  justify-content: center;
  max-width: 1.5em;
  width: 1.5em;
  font-weight: bold;

  &--tiny {
    font-size: $bubble-size-tiny;
  }

  &--small {
    font-size: $bubble-size-small;
  }

  &--big {
    font-size: $bubble-size-big;
  }

  &--huge {
    font-size: $bubble-size-huge;
  }

  &--enormous {
    font-size: $bubble-size-enormous;
  }

  &--blue {
    background-color: $blue;
    color: $white;
  }

  &--transparent {
    background-color: transparent;
    border: 1px solid;
    color: inherit;
    font-weight: normal;
  }

  &--text-top {
    vertical-align: text-top;
  }
}
