////
/// @author Drakona <contact@drakona.fr>
/// @group front/components
///
/// @since 13/02/2019
////

///
/// Button
///
.button {
  align-items: center;
  background-color: $color-main;
  border-radius: $global-border-radius;
  border: 2px solid $blue;
  color: $white;
  cursor: pointer;
  display: inline-flex;
  font-size: $default-spacing;
  font-weight: bold;
  height: 2.2em;
  justify-content: center;
  min-height: 2.2em;
  padding: 0 $default-spacing;
  text-decoration: none;
  transition: background-color .25s, border-color .25s, color .25s;

  &:hover,
  &:focus,
  &:active {
    background-color: $yellow;
    border-color: $yellow;
  }

  &--yellow {
    background-color: $yellow;
    border-color: $yellow;

    &:hover,
    &:focus,
    &:active {
      background-color: $blue;
      border-color: $blue;
    }
  }

  &--alert {
    background-color: $alert;
    border-color: $alert;
    color: $white;

    &:hover,
    &:focus,
    &:active {
      background-color: darken($alert, 10%);
      border-color: darken($alert, 10%);
    }
  }

  &--grey {
    background-color: $grey-medium;
    border-color: $grey-medium;
  }

  &--round {
    border-radius: 50%;
    height: 1.125em;
    width: 1.125em;
  }

  &--large {
    font-size: 1.25em;
    padding: .5em .75em;
  }

  &--medium {
    font-size: 1.5em;
    padding: .5em .75em;
  }

  &--big {
    font-size: 2em;
  }

  &--huge {
    font-size: 3em;
  }

  &--small {
    font-size: .75em;
  }

  &--tiny {
    font-size: .5em;
  }

  &--uppercase {
    padding: .5em .75em;
    text-transform: uppercase;
  }

  &--full {
    width: 100%;
  }

  &--bordered {
    background-color: $white;
    border: 2px solid;
    border-radius: .3em;
    color: $color-main;

    &:hover,
    &:focus,
    &:active {
      background-color: $white;
      color: $yellow;
    }

    &.button {
      &--yellow {
        color: $yellow;

        &:hover,
        &:focus,
        &:active {
          background-color: $yellow;
          border-color: $yellow;
          color: $white;
        }
      }
      &--blue {
        color: $blue;

        &:hover,
        &:focus,
        &:active {
          background-color: $blue;
          border-color: $blue;
          color: $white;
        }
      }

      &--alert {
        color: $alert;

        &:hover,
        &:focus,
        &:active {
          background-color: $alert;
          border-color: $alert;
          color: $white;
        }
      }

      &--white {
        color: $white;

        &:hover,
        &:focus,
        &:active {
          color: $yellow;
        }
      }
    }
  }

  &--transparent {
    background-color: transparent;

    &:hover,
    &:focus,
    &:active {
      background-color: transparent;
    }
  }

  &--header-dropdown {
    background: transparent;
    border-radius: 0;
    border: 0;
    margin-left: .25rem;
    max-height: 32px;
    max-width: 32px;
    min-height: 32px;
    min-width: 32px;
    padding: 0 0 0 .3rem;

    &:hover,
    &:active,
    &:focus {
      background-color: transparent;
    }

    .bars {
      color: $blue;
      transform: rotate(90deg);

      &::before,
      &::after {
        content: '|';
        position: absolute;
        top: 0;
      }

      &::before {
        left: 8px;
      }

      &::after {
        right: 8px;
      }
    }
  }

  &--disabled {
    background-color: $grey-light;
    border-color: $grey-light;
    cursor: not-allowed;

    &:hover,
    &:active,
    &:focus {
      background-color: $grey-light;
      border-color: $grey-light;
    }
  }

  &--view-more {
    background-color: transparent;
    border: 0;
    padding: 0;
    vertical-align: middle;

    &:hover,
    &:active,
    &:focus,
    &.button--active {
      background-color: transparent;

      .icon__content {
        fill: $yellow;
      }
    }
  }

  &--text {
    background: transparent;
    border: 0;
    color: $grey-darker;
    font-size: 1em;
    font-weight: 600;
    padding: 0;

    &:hover,
    &:active,
    &:focus {
      background-color: transparent;
    }
  }

  &--tab {
    border-bottom: .25rem solid;
    border-radius: 0;
    color: $grey-medium;
    margin-right: 3rem;

    &.active {
      border-color: $blue;
      color: $blue;
    }

    &:not(.active) {
      &:hover,
      &:active,
      &:focus {
        border-color: $yellow;
        color: $yellow;
      }
    }
  }

  &--hover {
    &-blue {
      &-light {
        &:hover,
        &:focus,
        &:active {
          border-color: $blue-secondary;
          background-color: $blue-secondary;
        }
      }
    }
  }
}

@media (max-width: $breakpoint-small) {
  .button {
    &--tab {
      justify-content: flex-start;
      margin-right: 0;
      margin-top: $default-spacing;
    }
  }
}
