////
/// @author Drakona <contact@drakona.fr>
/// @group front/components
///
/// @since 13/02/2019
////

/// @type number
$card-height-residence: 20rem !default;

/// @type number
$card-height-city: 10rem !default;

/// @type color
$card-title-background-color: $grey-medium !default;

/// @type color
$card-title-background-color-hover: $blue !default;

/// @type color
$card-max-width: 21em !default;

///
/// Card
///
.card {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
  justify-content: flex-start;
  margin: $small-spacing $default-spacing;
  max-width: $card-max-width;
  padding-bottom: $small-spacing;
  position: relative;
  text-align: center;
  transition: box-shadow .25s;

  &:first-of-type {
    margin-left: 0;
  }

  &:last-of-type {
    margin-right: 0;
  }

  &__wrapper {
    flex-wrap: nowrap;

    .slick-slide {
      margin-bottom: $small-spacing;
    }

    &--cross-sell {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      max-width: 100%;

      .card {
        margin: 0 $default-spacing 0 0;
      }
    }

    &--multiline {
      flex-wrap: wrap;
      margin: 0;
      max-width: 100%;

      .card {
        margin: 2em 1em;
      }
    }
  }

  &__title {
    @include typography-ellipsis;
    background-color: $card-title-background-color;
    color: $white;
    display: inline-flex;
    flex: 0 1 100%;
    font-weight: bold;
    margin-bottom: $small-spacing;
    max-height: 2.5em;
    transition: background-color .25s;
    width: 100%;
  }

  &__image {
    height: 100%;
    left: 50%;
    min-width: 100%;
    position: absolute;
    transform: translateX(-50%);
    width: auto;

    &-wrapper {
      display: inline-block;
      max-height: 16.5rem;
      min-height: 16.5rem;
      overflow: hidden;
      position: relative;
      width: 100%;
    }
  }

  &__icon {
    display: inline-block;
    height: 1.5em;
    right: $small-spacing;
    position: absolute;
    top: $small-spacing;
    width: 1.5em;
  }

  &__title,
  &__image {
    border-radius: $global-border-radius;
  }

  &__link {
    @include typography-ellipsis;
    color: $white;
    display: inline-block;
    padding: $small-spacing $default-spacing;
    text-align: center;
    text-decoration: none;
    width: 100%;
  }

  &__description {
    line-height: 1.3em;
    margin-bottom: $default-spacing;
    max-height: 5rem;
    max-width: 100%;
    overflow: hidden;
    padding: 0 $small-spacing;
  }

  &__reviews {
    margin-bottom: $default-spacing;
    margin-top: $default-spacing;
  }

  &__address {
    color: $black;
    margin-bottom: $small-spacing;
  }

  &--residence {
    height: $card-height-residence;
  }

  &--city {
    height: $card-height-city;
  }

  &--focused,
  &:hover,
  &:focus,
  &:focus-within {
    box-shadow: 0 0 $small-spacing rgba($black, .25);

    .card {
      &__title {
        background-color: $card-title-background-color-hover;
      }
    }
  }
}

@media (max-width: $breakpoint-medium) {
  .card {
    max-width: calc(100vw - #{$card-max-width / 4});
    min-width: unset;
    width: calc(100vw - #{$card-max-width / 4});

    &__wrapper {
      justify-content: flex-start;
      width: 90rem;

      &--multiline {
        .card {
          margin: $medium-spacing 0;
          max-width: 100%;
        }
      }
    }

    &__image {
      height: auto;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;

      &-wrapper {
        min-height: 25vw;
      }
    }

    &__description {
      font-size: .9em;
      max-height: 4.5rem;
    }
  }
}

@media (max-width: $breakpoint-small) {
  .card {
    &__image {
      &-wrapper {
        min-height: 50vw;
      }
    }
  }
}

@media screen and (min-width:0\0) {
  .card {
    &__wrapper {
      min-height: 32rem;
    }
  }
}

@media #{"\\0 screen"} {
  .card {
    &__wrapper {
      min-height: 32rem;
    }
  }
}

@media not all and (min-resolution:.001dpcm)
{ @supports (-webkit-appearance:none) {
  .card {
    &__wrapper {
      min-height: 32rem;
    }
  }
}}
