@keyframes checkbox-pop {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes checkbox-unpop {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(.5);
  }

  100% {
    transform: scale(1);
  }
}

$checkbox-border-size: 1px !default;
$checkbox-center-size: 1rem !default;
$checkbox-base-size: 1rem !default;
$checkbox-center-color: rgba(255, 255, 255, .5) !default;
$checkbox-center-color-checked: $yellow !default;
$checkbox-center-color-hover: rgba($checkbox-center-color-checked, .5) !default;
$checkbox-outline-color: $grey-dark !default;

@mixin checkbox-hide {
  position: absolute;
  transform: scaleY(0);
  transform-origin: bottom;
}

.checkbox {
  @include checkbox-hide;

  &__label {
    align-items: center;
    cursor: pointer;
    display: inline-flex;
    margin: $small-spacing $tiny-spacing;
    position: relative;
    width: auto;

    &--multiline {
      align-items: flex-start;
      line-height: 1.2;
    }

    &--disabled {
      filter: grayscale(1);
    }

    &::after {
      content: '' !important;
      display: none;
    }

    &.required {
      &::before {
        content: '' !important;
        display: none;
      }
    }

    &:hover,
    &:focus,
    &:active {
      &:not(.checkbox__label--disabled) {
        .checkbox__inner-label {
          &::after {
            background-color: $checkbox-center-color-hover;
            opacity: 1;
            transform: scale(1);
          }
        }
      }
    }
  }

  &__inner-label {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    margin-right: $small-spacing;

    &--after {
      margin-left: $small-spacing;
      margin-right: 0;
    }

    &::before,
    &::after {
      border-radius: 50%;
      content: '';
      display: inline-block;
    }

    &::before {
      border: $checkbox-border-size solid $checkbox-outline-color;
      margin: 0;
      max-height: $checkbox-base-size;
      max-width: $checkbox-base-size;
      min-height: $checkbox-base-size;
      min-width: $checkbox-base-size;
      transition: border-color .25s ease-in-out;
    }

    &::after {
      background: $checkbox-center-color;
      margin: 0;
      max-height: $checkbox-center-size;
      max-width: $checkbox-center-size;
      min-height: $checkbox-center-size;
      min-width: $checkbox-center-size;
      position: absolute;
      transition: background .25s ease-in-out;
    }
  }

  &:checked {
    & ~ .checkbox__inner-label {
      &::before {
        border-color: $checkbox-center-color-checked;
      }

      &::after {
        animation-duration: .5s;
        animation-name: checkbox-pop;
        animation-timing-function: ease-in-out;
        background-color: $checkbox-center-color-checked;
        transform: translate3d(0, 0, 0);
      }
    }
  }

  &:not(:checked) {
    & ~ .checkbox__inner-label {
      &::after {
        animation-duration: .5s;
        animation-name: checkbox-unpop;
        animation-timing-function: ease-in-out;
        transform: translate3d(0, 0, 0);
      }
    }
  }
}

@media screen and (min-width:0\0) {
  .checkbox {
    &__inner {
      &-label {
        &::after {
          top: 2.5px;
          left: 1px;
        }
      }
    }
  }
}

@media #{"\\0 screen"} {
  .checkbox {
    &__inner {
      &-label {
        &::after {
          top: 2.5px;
          left: 1px;
        }
      }
    }
  }
}

@media not all and (min-resolution:.001dpcm)
{ @supports (-webkit-appearance:none) {
  .checkbox {
    &__inner {
      &-label {
        &::after {
          top: 2.5px;
          left: 1px;
        }
      }
    }
  }
}}
