////
/// @author Drakona <contact@drakona.fr>
/// @group front/components
///
/// @since 26/03/2019
////


///
/// Content
///
.content {
  &__column,
  &__element {
    &--fifth,
    &--quarter,
    &--tier,
    &--half,
    &--tier-2,
    &--full {
      width: 100%;
    }
  }

  &__column {
    &--fifth {
      max-width: 20%;
    }

    &--quarter {
      max-width: 25%;

      &-3 {
        max-width: 75%;
      }
    }

    &--tier {
      max-width: calc(33.3% - 1.3rem);
    }

    &--half {
      max-width: 50%;
    }

    &--tier-2 {
      max-width: calc(66.6% - .65rem);
    }

    &--full {
      max-width: 100%;
    }

    &-spacing {
      margin-left: 1.9rem;
    }
  }

  &__wrapper,
  &__element {
    display: flex;
  }

  &__wrapper {
    width: 100%;

    &--bordered {
      border: 1px solid;
      border-color: $blue;
      border-radius: #{$global-border-radius / 2};
      padding: $default-spacing;
    }
  }

  &__element {
    max-width: 100%;

    &-wrapper {
      display: flex;
      justify-content: space-evenly;
      margin-left: -1rem;
      max-width: calc(100% + 2rem);
      min-width: calc(100% + 2rem);

      .content {
        &__element {
          margin-left: $default-spacing;
          margin-right: $default-spacing;
        }
      }
    }

    &--quarter {
      max-width: calc(25% - 2rem);
    }

    &--tier {
      max-width: calc(33.3% - 2rem);
    }

    &--half {
      max-width: calc(50% - 2rem);
    }

    &--tier-2 {
      max-width: calc(66.6% - 2rem);
    }

    &--full {
      max-width: calc(100% - 2rem);
    }

    //
    // TODO : Provisoir pour contourner les styles de form__field-container
    //
    .form {
      &__field-container {
        flex-grow: 2;
        max-width: 100%;
        padding-right: 0;
        width: 100%;
      }
    }
  }

  &__min-width {
    @each $name, $size in $content-sizes {
      &--#{$name} {
        min-width: $size;
      }
    }
  }

  &__height {
    &--full {
      height: 100%;
    }
  }

  &__basis {
    @each $name, $size in $content-sizes {
      &--#{$name} {
        flex-basis: $size;
      }
    }
  }

  &__wrap {
    flex-wrap: wrap !important;

    &--nowrap {
      flex-wrap: nowrap !important;
    }
  }

  &__margin {
    &--tb {
      @each $name, $size in $content-sizes {
        &-#{$name} {
          margin-bottom: $size !important;
          margin-top: $size !important;
        }
      }
    }

    &--lr {
      @each $name, $size in $content-sizes {
        &-#{$name} {
          margin-left: $size !important;
          margin-right: $size !important;
        }
      }
    }

    &--all {
      @each $name, $size in $content-sizes {
        &-#{$name} {
          margin-bottom: $size !important;
          margin-left: $size !important;
          margin-right: $size !important;
          margin-top: $size !important;
        }
      }
    }

    &--bot {
      @each $name, $size in $content-sizes {
        &-#{$name} {
          margin-bottom: $size !important;
        }
      }
    }

    &--top {
      @each $name, $size in $content-sizes {
        &-#{$name} {
          margin-top: $size !important;
        }
      }
    }

    &--left {
      @each $name, $size in $content-sizes {
        &-#{$name} {
          margin-left: $size !important;
        }
      }
    }

    &--right {
      @each $name, $size in $content-sizes {
        &-#{$name} {
          margin-right: $size !important;
        }
      }
    }
  }

  &__before-margin {
    &--tb {
      @each $name, $size in $content-sizes {
        &-#{$name} {
          &::before {
            margin-bottom: $size;
            margin-top: $size;
          }
        }
      }
    }

    &--lr {
      @each $name, $size in $content-sizes {
        &-#{$name} {
          &::before {
            margin-left: $size;
            margin-right: $size;
          }
        }
      }
    }

    &--all {
      @each $name, $size in $content-sizes {
        &-#{$name} {
          &::before {
            margin: $size;
          }
        }
      }
    }

    &--bot {
      @each $name, $size in $content-sizes {
        &-#{$name} {
          &::before {
            margin-bottom: $size;
          }
        }
      }
    }

    &--top {
      @each $name, $size in $content-sizes {
        &-#{$name} {
          &::before {
            margin-top: $size;
          }
        }
      }
    }

    &--left {
      @each $name, $size in $content-sizes {
        &-#{$name} {
          &::before {
            margin-left: $size;
          }
        }
      }
    }

    &--right {
      @each $name, $size in $content-sizes {
        &-#{$name} {
          &::before {
            margin-right: $size;
          }
        }
      }
    }
  }

  &__padding {
    &--tb {
      @each $name, $size in $content-sizes {
        &-#{$name} {
          padding-bottom: $size !important;
          padding-top: $size !important;
        }
      }
    }

    &--lr {
      @each $name, $size in $content-sizes {
        &-#{$name} {
          padding-left: $size !important;
          padding-right: $size !important;
        }
      }
    }

    &--all {
      @each $name, $size in $content-sizes {
        &-#{$name} {
          padding: $size;
        }
      }
    }

    &--bot {
      @each $name, $size in $content-sizes {
        &-#{$name} {
          padding-bottom: $size;
        }
      }
    }

    &--top {
      @each $name, $size in $content-sizes {
        &-#{$name} {
          padding-top: $size;
        }
      }
    }

    &--left-right {
      @each $name, $size in $content-sizes {
        &-#{$name} {
          padding-left: $size;
          padding-right: $size;
        }
      }
    }

    &--left {
      @each $name, $size in $content-sizes {
        &-#{$name} {
          padding-left: $size;
        }
      }
    }

    &--right {
      @each $name, $size in $content-sizes {
        &-#{$name} {
          padding-right: $size;
        }
      }
    }
  }

  &__direction {
    &--column {
      flex-direction: column;
    }

    &--row {
      flex-direction: row;
    }
  }

  &__justify {
    &--flex,
    &--center,
    &--full-width {
      display: flex;
    }

    &--center {
      justify-content: center;
    }

    &--between {
      justify-content: space-between;
    }

    &--evenly {
      justify-content: space-evenly;
    }

    &--around {
      justify-content: space-around;
    }

    &--start {
      justify-content: flex-start;
    }

    &--end {
      justify-content: flex-end;
    }

    &--full-height {
      height: 100%;
    }
  }

  &__align {
    &--center {
      align-items: center;
    }

    &--full-width,
    &--stretch {
      align-items: stretch;
    }

    &--baseline {
      align-items: baseline;
    }

    &--start {
      align-items: flex-start;
    }

    &--end {
      align-items: flex-end;
    }
  }

  &__priority {
    &--grow {
      @for $number from 0 through 7 {
        &-#{$number} {
          flex-grow: #{$number};
        }
      }
    }

    &--shrink {
      @for $number from 0 through 7 {
        &-#{$number} {
          flex-shrink: #{$number};
        }
      }
    }
  }

  &__shadow {
    &--none {
      box-shadow: none;
    }
  }

  &__order {
    &--first {
      order: -1;
    }

    &--last {
      order: 8;
    }

    @for $i from 0 through 7 {
      &--#{$i} {
        order: $i;
      }
    }
  }

  &__border {
    &--all {
      &-none {
        border: 0;
      }
    }
  }
}

@media (max-width: $breakpoint-medium) {
  .content {
    &__wrap-medium {
      flex-wrap: wrap;
      margin-left: 0;
      max-width: 100%;
      min-width: 100%;
    }
  }
}

@media (max-width: $breakpoint-small) {
  .content {
    &__wrap-small {
      flex-wrap: wrap;
      margin-left: 0;
      max-width: 100%;
      min-width: 100%;
    }

    &__justify {
      &--small {
        &-center {
          justify-content: center;
          width: 100%;

          .list {
            &__element {
              &--dotted {
                margin-left: 0;
              }
            }
          }
        }
      }
    }

    &__wrapper {
      flex-wrap: wrap;

      .content {
        &__element {
          margin-left: 0;
          margin-right: 0;
        }
      }
    }

    &__element {
      max-width: 100%;
      width: 100%;

      &:not(:first-of-type) {
        margin-top: $big-spacing;
      }

      &-wrapper {
        flex-wrap: wrap;
        margin-left: 0;
        max-width: 100%;
        min-width: 100%;

        .content {
          &__element {
            margin-left: 0;
            margin-right: 0;
          }
        }
      }

      .button {
        width: 100%;
      }
    }

    &__information-block {
      flex-wrap: nowrap;
    }

    &__column {
      &--fifth,
      &--quarter,
      &--tier,
      &--half,
      &--tier-2,
      &--full {
        max-width: 100%;
      }
    }
  }
}

@media screen and (min-width:0\0) {
  .content {
    &__direction {
      &--column {
        display: block;
      }
    }

    &__element {
      &-wrapper {
        min-width: auto;
        width: 100%;

        &:not(.content__justify--start) {
          justify-content: space-around;
        }
      }

      &--tier {
        min-width: 30%;
      }
    }

    &__justify {
      &--evenly {
        justify-content: space-around;
      }
    }
  }
}

@media #{"\\0 screen"} {
  .content {
    &__direction {
      &--column {
        display: block;
      }
    }

    &__element {
      &-wrapper {
        min-width: auto;
        width: 100%;

        &:not(.content__justify--start) {
          justify-content: space-around;
        }
      }

      &--tier {
        min-width: 30%;
      }
    }

    &__justify {
      &--evenly {
        justify-content: space-around;
      }
    }
  }
}

@media not all and (min-resolution:.001dpcm)
{ @supports (-webkit-appearance:none) {
  .content {
    &__direction {
      &--column {
        display: block;
      }
    }

    &__element {
      &-wrapper {
        min-width: auto;
        width: 100%;

        &:not(.content__justify--start) {
          justify-content: space-around;
        }
      }

      &--tier {
        min-width: 30%;
      }
    }

    &__justify {
      &--evenly {
        justify-content: space-around;
      }
    }
  }
}}
