.discussion {
  &__message {
    background-color: $grey-lighter;
    border-top: 1px solid $grey-lighter;
    padding: $default-spacing;

    &--answer {
      background-color: $white;
      padding-left: 4rem;

      &:not(:first-of-type) {
        border-top: 1px solid $grey-medium;
      }
    }

    &:last-of-type {
      border-bottom: 1px solid $grey-medium;
    }
  }
}
