.icon {
  max-height: $default-spacing;
  min-height: $default-spacing;
  min-width: $default-spacing;
  position: relative;

  &-roll {
    transition: transform .25s;

    &-circle {
      fill: currentColor;
      transition: fill .25s;
    }

    &-arrow {
      fill: none;
      stroke: $white;
      stroke-width: 3;
      stroke-miterlimit: 10;
      transition: stroke .25s;
    }

    &-border {
      fill: currentColor;
      transition: fill .25s;
    }

    &--inactive {
      transform: rotate(180deg);

      .icon-roll {
        &-circle {
          fill: $white;
        }

        &-arrow {
          stroke: currentColor;
        }

        &-border {
          fill: currentColor;
        }
      }
    }
  }

  &-availability {
    display: flex;
    flex-direction: column;

    &::before {
      font-size: 3rem;
      position: relative;
      top: -.5rem;
    }
  }

  &__content {
    transition: fill;

    &-fill {
      &-inherit {
        fill: inherit;
      }

      &-white {
        fill: $white;
      }

      &-current-color {
        fill: currentColor;
      }
    }

    &-carousel {
      fill: none;
      stroke-miterlimit: 10;
      stroke-width: 5;
      stroke: $white;
    }

    &-favorite {
      fill: #FF584F;
    }

    &-new {
      fill: #00E2BE;
    }


    &-folder {
      fill: none;
      stroke-miterlimit: 10;
      stroke-width: 4;
      stroke: inherit;
    }

    &-arrow {
      fill: none;
      stroke: currentColor;
      stroke-miterlimit: 10;
      stroke-width: 4;
    }

    &-pen {
      clip-rule: evenodd;
      fill-rule: evenodd;
      fill: none;
      stroke-linejoin: round;
      stroke-miterlimit: 10;
      stroke-width: 4;
      stroke: inherit;
    }

    &-search {
      &-0 {
        clip-rule: evenodd;
        fill-rule: evenodd;
        fill: none;
        stroke-miterlimit: 10;
        stroke-width: 4.0498;
        stroke: inherit;
      }

      &-1 {
        clip-rule: evenodd;
        fill-rule: evenodd;
        fill: inherit;
      }
    }

    &-logout {
      fill: none;
      stroke-linecap: round;
      stroke-miterlimit: 10;
      stroke-width: 2.3px;
      stroke: $white;
    }
  }

  &-plus {
    .icon-bg {
      fill: $white;
    }
  }

  &-information {
    margin-right: 1rem;
    width: 4rem;

    &--small {
      margin-top: -.25rem;
      max-width: 2rem;
      min-width: 2rem;
    }
  }

  &-isic {
    height: 1.5em;
    max-height: 2rem;
    width: auto;
  }

  @each $name, $color in $container-colors {
    &--#{$name} {
      fill: $color;
    }
  }
}

@media (max-width: $breakpoint-small) {
  .icon {
    &-availability {
      margin-bottom: $default-spacing;
    }

    &-isic {
      max-height: 1.5rem;
    }
  }
}
