.image {
  height: 100%;
  width: auto;

  &--reset {
    height: auto;
    width: auto;
  }

  &--refresh {
    max-height: 2rem;
    max-width: 2rem;
  }

  &__wrapper {
    overflow: hidden;

    &--isic {
      max-height: 150px;
      max-width: 150px;
      min-height: 150px;
      min-width: 150px;
      position: relative;
    }

    .image {
      left: 50%;
      position: absolute;
      transform: translateX(-50%);
    }
  }
}

@media (max-width: $breakpoint-small) {
  .image {
    &__wrapper {
      &--isic {
        left: calc(50% - 75px);
      }
    }
  }
}
