////
/// @author Drakona <contact@drakona.fr>
/// @group front/components
///
/// @since 25/03/2019
////


///
/// List
///
.list {
  width: 100%;

  &__element {
    line-height: 1.5em;
    margin: $tiny-spacing 0;
    width: 100%;

    a {
      &:not(.button) {
        color: currentColor;

        &:hover,
        &:active,
        &:focus {
          color: $yellow;
        }
      }
    }

    &--dotted {
      list-style: initial;
      margin-left: 1rem;
    }

    &--plus {
      align-items: center;
      display: flex;
      list-style: none;

      &::before {
        content: '+';
        font-size: 1.3em;
        font-weight: 600;
        margin-left: -.1rem;
      }

      .button {
        margin-left: $small-spacing;
      }
    }
  }

  &__title {
    font-weight: 600;
    margin-bottom: .5rem;
  }

  &--review {
    max-width: calc(100vw - 1.75rem);
    padding: 0 1rem;

    .list {
      &__element {
        padding: $default-spacing 0;

        &:first-of-type {
          padding-top: 0;
        }

        &:not(:last-of-type) {
          border-bottom: 1px solid $grey-medium;
        }
      }
    }
  }

  &--inline {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 100%;

    > .list {
      &__element {
        width: 33%;
      }
    }
  }

  &--pagination {
    .list {
      &__link,
      &__element {
        align-items: center;
        display: flex;
        justify-content: center;
      }

      &__element {
        background: $blue-secondary;
        border-radius: 50%;
        color: $white;
        cursor: pointer;
        flex-basis: 2rem;
        margin: $small-spacing;
        max-height: 2rem;
        max-width: 2rem;
        min-height: 2rem;
        min-width: 2rem;
        padding: 0;

        &--active {
          background: $blue;
        }
      }
      &__link {
        font-weight: bold;
      }
    }
  }
}

@media (max-width: $breakpoint-medium) {
  .list {
    &--inline {
      .list {
        &__element {
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: $breakpoint-small) {
  .list {
    &__title,
    &__element {
      font-size: .9em;

      &:not(.list__element--dotted) {
        text-align: center;
      }
    }

    &--review {
      padding: 0;

      .list {
        &__element {
          &:not(:last-of-type) {
            padding-bottom: 2em;
          }

          &:not(:first-of-type) {
            margin-top: 1em;
          }
        }
      }
    }
  }
}
