////
/// @author Drakona <contact@drakona.fr>
/// @group front/components
///
/// @since 20/03/2019
////


///
/// Map
///
/// Google map in various contexts
///
.map {
  &__legend {
    background: $white;
    box-shadow: rgba($black, .3) 0px 1px 4px -1px;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    left: .75rem !important;
    padding: $small-spacing;
    top: .75rem !important;
  }

  &__item {
    &-icon {
      height: $big-spacing;
      max-height: $big-spacing;
      margin-left: $medium-spacing;
      min-width: unset;
      width: auto;
    }

    &-name {
      flex-grow: 2;
    }
  }

  &__marker {
    color: $black;

    &-info {
      display: flex;
      flex-direction: column;
    }

    &-name {
      color: inherit;
      text-decoration: none;
    }

    &-photo {
      margin-right: $small-spacing;
    }

    &-header,
    &-footer {
      align-items: flex-start;
      display: inline-flex;
      flex-wrap: wrap;
      width: 100%;
    }

    &-footer {
      justify-content: space-around;
      margin-top: $default-spacing;
    }
  }

  &--static,
  &__content {
    height: 100%;
    width: 100%;

    .map {
      &__content {
        height: 100%;
      }
    }
  }
}

.reveal {
  .map-canvas,
  .map--static {
    height: 100%;
    min-height: 75vh;
  }
}
