////
/// @author Drakona <contact@drakona.fr>
/// @group front/components
///
/// @since 15/02/2019
////

///
/// Modal
///
.modal {
  align-items: center;
  background-color: rgba($white, .95);
  color: $black;
  display: none;
  flex-direction: column;
  flex: 0 0 auto;
  margin: 0 auto;
  max-width: 75vw;
  padding: $big-spacing;
  position: relative;

  &__overlay {
    align-items: center;
    background-color: rgba($black, .75);
    bottom: 0;
    display: flex;
    flex: 1 0 100%;
    justify-content: center;
    left: 0;
    min-height: 100vh;
    min-width: 100vw;
    opacity: 1;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10;
    transition: opacity .25s, z-index .25s .5s;

    .modal {
      display: flex;
    }

    &--hidden {
      opacity: 0;
      z-index: -1;
    }
  }

  &__close {
    @include close-button;

    &.small {
      @include close-button-size(small);
    }

    &, &.medium {
      @include close-button-size(medium);
    }
  }
}

@media (max-width: $breakpoint-medium) {
  .modal {
    max-width: 90vw;
  }
}
