.navigation {
  &__side-block {
    border: 1px solid $grey-dark;
    border-radius: $global-border-radius;
    padding: 1rem;
    width: 100%;

    .navigation {
      &__sub {
        margin-left: 1rem;
        margin-top: .5rem;

        .button {
          font-size: .9em;
          font-weight: normal;

          &.active {
            color: $yellow;
          }
        }
      }
    }
  }

  &__element {
    padding-bottom: .5rem;
    padding-top: .5rem;
    white-space: nowrap;

    &.active {
      font-weight: 600;
    }
  }

  &__link {
    color: $grey-darker;

    &:hover,
    &:focus,
    &:active {
      color: $yellow;
    }
  }

  &__tabs {
    border-bottom: .1em solid $grey-medium;
  }
}

@media (max-width: $breakpoint-small) {
  .navigation {
    &__side-block {
      margin-right: 0;

      .navigation {
        &__element {
          &:not(:first-of-type) {
            margin-top: $small-spacing;
          }
        }

        &__sub {
          margin-left: 0;

          .button {
            width: auto;
          }

          .list {
            &__element {
              width: auto;

              &--dotted {
                margin-left: .8rem;
              }
            }
          }
        }
      }
    }

    &__tabs {
      border-bottom: 0;
    }
  }
}
