.phone {
  color: #A50F78;
  flex-direction: column;
  flex: 0 1 21rem;
  text-align: center;

  &__logo,
  &__title {
    display: inline-block;
    width: 100%;
  }

  &__logo {
    min-height: 2.25rem;
    max-height: 2.25rem;
  }

  &__title {
    font-size: .8rem;
    font-weight: bold;
    margin-bottom: $small-spacing;
  }

  &__subtitle {
    font-size: .75rem;
  }

  &.form {
    &__field {
      color: $grey-darker;
      text-align: left;
    }
  }
}
