////
/// @author Drakona <contact@drakona.fr>
/// @group front/components
///
/// @since 20/03/2019
////

/// @type color
$rating-main-color: $yellow !default;

/// @type color
$rating-main-color-hover: lighten($rating-main-color, 30%) !default;

///
/// Rating
///
.rating {
  color: $rating-main-color;
  display: inline-block;
  flex-grow: 1;
  font-size: 1em;
  margin-bottom: 0;
  margin-left: -.6em;
  position: relative;
  vertical-align: middle;
  width: 7.5em;

  &__wrapper {
    color: $rating-main-color;
  }

  &__count {
    color: inherit;
    display: inline-block;
    text-decoration: none;
  }

  &__label {
    color: $white;
    float: right;
    margin-right: .4em;
    text-decoration: none;
    transition: color .2s;
    display: inline-block;

    &--inactive {
      color: $white;
    }

    &:not(.rating__label--half) {
      &::before {
        text-shadow: -1px 0 $rating-main-color, 0 1px $rating-main-color, 1px 0 $rating-main-color, 0 -1px $rating-main-color;
      }
    }

    &::before {
      font-family: 'FontAwesome';
      display: inline-block;
      content: $fa-var-star;
    }

    &--half {
      &::before {
        content: $fa-var-star-half;
        position: absolute;
        margin-left: .4em;
      }
    }

    &--active {
      &::before {
        color: $rating-main-color;
      }
    }

    &--text {
      display: none;
    }
  }

  &--form {
    min-width: 7.5em;

    .rating {
      &__label {
        transition: color .25s;

        &:hover,
        &:focus,
        &:active {
          &,
          & ~ .rating__label {
            &::before {
              color: $rating-main-color;
            }
          }
        }
      }
    }
  }
}

@media (max-width: $breakpoint-medium) {
  .rating {
    &__wrapper {
      align-items: center;
      display: inline-flex;
    }
  }
}
