////
/// @author Drakona <contact@drakona.fr>
/// @group front/components
///
/// @since 26/03/2019
////


///
/// review
///
.review {
  &__name {
    display: flex;
    width: 100%;
  }

  &__certified {
    margin-left: .5rem;
  }

  &__reply {
    padding-left: $huge-spacing;
    padding-top: $default-spacing;
  }

  &__details {
    display: none;
    justify-content: space-between;
    width: 100%;
  }

  &__element {
    &.opened {
      .review {
        &__details {
          display: flex;
        }
      }
    }
  }

  &__toggle {
    align-items: center;
    color: $grey-darker !important;
    display: inline-flex;
    justify-content: flex-end;
    padding: 0 $default-spacing;

    .icon {
      height: $default-spacing;
      margin-left: $small-spacing;
    }

    &:hover,
    &:focus,
    &:active {
      color: inherit !important;
    }
  }
}

@media (max-width: $breakpoint-medium) {
  .review {
    &__toggle {
      order: 1;
    }
  }
}

@media (max-width: $breakpoint-small) {
  .review {
    &__informations {
      flex-wrap: wrap;
      max-width: calc(100% - 8rem) !important;

      .date {
        &-comment,
        &-stay {
          font-size: .9em;
        }
      }

      .separator {
        &--dash {
          &::before {
            margin: 0;
          }
        }
      }
    }

    &__certified {
      margin-right: .25rem;
    }

    &__comment {
      text-align: left;
    }
  }
}
