.ribbon {
  @include ribbon(
    $type: 'promo',
    $size: 'small'
  );

  &--special-offers {
    background: $success;
  }

  &--new {
    background: $yellow;
  }
}

@media (max-width: $breakpoint-small) {
  .ribbon {
    border-bottom-left-radius: 0;
    border-top-right-radius: .25em;
    height: 2rem;
    width: 100%;

    &__text {
      font-size: 1.25rem;
      transform: rotate(0deg);
    }

    + .result {
      &__link {
        &--image {
          border-top-left-radius: 0;
          border-top-right-radius: 0;
          margin-top: 2rem;
        }
      }
    }
  }
}
