.separator {
  width: 100%;

  &--dash {
    &::before {
      content: '—';
      display: inline-flex;
      margin: 0 .5rem 0 1rem;
    }
  }

  &--section,
  &--form {
    padding-bottom: $big-spacing;

    &::after {
      background: $grey-dark;
      content: '';
      display: block;
      height: .1rem;
      position: relative;
      width: 100%;
    }
  }

  &--section {
    padding-top: $big-spacing;

    &::after {
      margin-top: 4rem;
    }
  }

  &--form {
    &::after {
      margin-top: 2rem;
    }
  }

  &--border {
    &-left {
      border-left: 1px solid;
    }

    &-right {
      border-right: 1px solid;
    }

    &-top {
      border-top: 1px solid;
    }

    &-bottom {
      border-bottom: 1px solid;
    }

    &-tb {
      border-top: 1px solid;
      border-bottom: 1px solid;
    }

    &-lr {
      border-left: 1px solid;
      border-right: 1px solid;
    }

    &-all {
      border: 1px solid;
    }
  }

  &--header-dropdown {
    border-top: 1px solid $grey-medium;
  }
}
