////
/// @author Drakona <contact@drakona.fr>
/// @group front/components
///
/// @since 15/02/2019
////

///
/// Step
///
.step {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  text-align: center;

  &__wrapper {
    align-items: flex-start;
    display: flex;
    flex: 1 1 100%;
    justify-content: space-around;
    margin-bottom: $default-spacing;
    min-height: 4rem;

    &--current {
      background-color: $yellow;
      margin-bottom: 0;
    }
  }

  &__link {
    color: currentColor;
    display: inline-flex;
    height: 100%;
    width: 100%;
  }

  &__number {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    margin-bottom: $default-spacing;
    width: 100%;
  }

  &__icon {
    color: $blue;
    fill: $blue;
    margin-left: $default-spacing;
    max-height: 3.5em;
    stroke: $blue;
  }

  &--inline {
    align-items: center;
    background-color: $white;
    border: 1px solid $yellow;
    color: $yellow;
    flex-direction: row;
    justify-content: center;
    padding: $small-spacing $default-spacing;

    &.step--active {
      background-color: $yellow;
      color: $white;
    }

    .step {
      &__title {
        margin: 0;
      }

      &__number {
        margin: 0 $small-spacing 0 0;
        width: auto;
      }
    }
  }

  &--disabled {
    border: 1px solid;
    color: $grey-darker;
  }

  &--full {
    flex-basis: 100%;
    justify-content: flex-start;
    margin: 0;
    max-width: $breakpoint-medium;
    width: 100%;
  }
}

@media (max-width: $breakpoint-medium) {
  .step {
    margin-bottom: $default-spacing;
    max-width: 100%;

    &--active {
      margin-bottom: 0;
    }

    &__wrapper {
      align-items: center;
      flex-direction: column;
    }
  }
}
