////
/// @author Drakona <contact@drakona.fr>
/// @group front/components
///
/// @since 25/03/2019
////


///
/// Table
///

.table {
  width: 100%;

  &__wrapper {
    max-width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
  }

  &__row {
    font-size: 1em;
    position: relative;

    &--header {
      background-color: $grey-medium;
      color: $white;
      font-size: .9em;
      font-weight: 600;
    }

    &--section {
      &-title {
        .table {
          &__column {
            font-weight: bold;
            height: 3.5em;
            padding: 0;
            text-align: left;

            &::before {
              background-color: $grey-medium;
              content: '';
              display: block;
              height: 2px;
              left: 0;
              position: absolute;
              top: 1.75em;
              width: 100%;
              z-index: 0;
            }
          }
        }

        ~ .table {
          &__row {
            background-color: $grey-lighter;

            &:nth-child(4n),
            &--accommodation-detail {
              background-color: $white;
            }
          }
        }
      }
    }

    &--main {
      .table {
        &__column {
          height: $big-spacing;
          vertical-align: top;
        }
      }
    }

    &.active {
      z-index: 3;
    }
  }

  &__column {
    height: 2.5em;
    line-height: 1rem;
    padding: 0 $small-spacing;
    position: relative;
    text-align: center;
    vertical-align: middle;

    &--header {
      vertical-align: top;
      padding-top: $small-spacing;
    }

    &--charges {
      height: $medium-spacing;
      max-width: 3.5rem;
      padding-bottom: $small-spacing;
      width: 3.5rem;

      .icon {
        max-height: 1.2rem;
        min-height: 1.2rem;
      }
    }

    &--accommodation-detail {
      background-color: $white;
      height: auto;
      padding: 0;
      position: relative;

      .table {
        &__accommodation {
          background: $white;
          border-bottom: 1px solid $blue;
          border-left: 1px solid $blue;
          border-right: 1px solid $blue;
          box-shadow: 0 .1rem .2rem rgba($black, .3);
          left: .4rem;
          margin-bottom: .5rem;
          padding: $medium-spacing $huge-spacing;
          position: relative;
          width: calc(100% - .8rem);
        }
      }
    }

    &--reference {
      align-items: center;
      display: flex;
    }
  }

  &__section {
    &-title {
      background-color: $white;
      padding-right: $default-spacing;
      position: relative;
      z-index: 1;
    }
  }

  &__accommodation {
    display: flex;
    flex: 0 0 100%;
    flex-direction: column;
    line-height: 1.25;

    &-content {
      display: flex;
      flex: 1 1 100%;
      flex-direction: row;
      text-align: left;
    }

    &-list {
      display: flex;
      flex-wrap: wrap;
      width: 100%;

      &-wrapper {
        margin-bottom: $default-spacing;
      }

      &-title {
        display: inline-flex;
        margin-bottom: $small-spacing;
        width: 100%;
      }

      &-element {
        width: 30%;
        min-width: 12.5rem;
      }
    }

    &-picture {
      max-height: 6.25rem;
      width: auto;

      &-wrapper {
        display: flex;
        flex-wrap: wrap;
        flex: 0 0 100%;
        justify-content: space-evenly;
      }
    }
  }

  &__link {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
  }

  &--account,
  &--supporting-documents {
    overflow: hidden;

    .table {
      &__header {
        .table {
          &__row {
            height: $huge-spacing;
            background-color: $grey-medium;
            color: $white;
            font-weight: 600;
          }
        }
      }

      &__row {
        font-size: .9em;
      }

      &__column {
        height: 100%;
      }
    }
  }

  &--account {
    border-radius: .3em;

    .table {
      &__row {
        &:nth-of-type(2n) {
          background: $grey-lighter;
        }
      }

      &__column {
        padding-bottom: 1rem;
        padding-top: 1rem;
      }
    }
  }


  &--supporting-documents {
    .table {
      &__row {
        background: $grey-lighter;

        &:nth-of-type(2n) {
          background: $white;
        }
      }

      &__column {
        padding: .5rem 1rem;
        padding-bottom: .5rem;
        padding-top: .5rem;
      }
    }
  }

  .icon {
    &--plus {
      max-height: 1.5rem;
      max-width: 1.5rem;
      height: auto;
      width: 100%;
    }

    &--show,
    &--trash {
      max-height: 1.75rem;
      max-width: 1.75rem;
      height: auto;
      width: 100%;
    }
  }
}

@media screen and (min-width:0\0) {
  .table {
    &__accommodation {
      &-picture {
        &-wrapper {
          justify-content: space-around;
        }
      }
    }
  }
}

@media #{"\\0 screen"} {
  .table {
    &__accommodation {
      &-picture {
        &-wrapper {
          justify-content: space-around;
        }
      }
    }
  }
}

@media not all and (min-resolution:.001dpcm)
{ @supports (-webkit-appearance:none) {
  .table {
    &__accommodation {
      &-picture {
        &-wrapper {
          justify-content: space-around;
        }
      }
    }
  }
}}
