////
/// @author Drakona <contact@drakona.fr>
/// @group front/components
///
/// @since 04/03/2019
////

///
/// Footer
///
.footer {
  background-color: $grey-darker;
  color: $white;
  line-height: 1.25;

  &__content {
    display: flex;
    flex: 1 1 25%;
    justify-content: space-around;
    margin: 0 auto;
    max-width: $global-max-width;
  }

  &__section {
    padding: $default-spacing;
  }

  &__title {
    font-size: 1.125rem;
    margin-bottom: $small-spacing;
  }

  &__list {
    &-element {
      margin: $tiny-spacing 0;
    }
  }
}

@media (max-width: $breakpoint-small) {
  .footer {
    &__content {
      flex-direction: column;
      text-align: center;
    }
  }
}
