////
/// @author Drakona <contact@drakona.fr>
/// @group front/layout
///
/// @since 08/02/2019
////

/// Default utility bar color
/// @type color
$header-blue: $blue !default;

/// Default search bar color
/// @type color
$header-secondary: $blue-secondary !default;

/// @type color
$header-logo-box-size: 7rem !default;

/// @type color
$header-logo-text-color: $header-blue !default;

/// Size of utility bar's sections
/// @type number
$header-utility-section-size: 2em !default;

///
/// Header
///
.header {
  background-color: $white;
  color: $black;
  display: flex;
  flex-direction: column;
  flex: 1 1 4rem;
  justify-content: space-between;
  max-width: 100%;
  min-width: 100vw;
  position: fixed;
  transition: box-shadow .25s;
  width: 100%;
  z-index: 9;

  .form {
    &__field {
      width: inherit !important;
    }
  }

  ///
  /// Header Utility gathers :
  ///
  /// - account link
  /// - social links
  /// - lang switcher
  ///
  &__utility {
    align-items: center;
    background-color: $header-blue;
    color: $white;
    display: flex;
    flex-direction: row;
    flex: 1 1 2.5rem;
    justify-content: flex-end;
    order: 1;
    padding: $small-spacing $default-spacing;
    transition: background-color .15s;
    width: 100%;

    &-section {
      align-items: center;
      display: inline-flex;
      justify-content: space-between;
      min-height: $header-utility-section-size;
      padding: 0 $big-spacing;

      &:first-of-type {
        padding-left: 0;
      }

      &--separator {
        border-right: 2px solid $white;
      }

      &--account {
        justify-content: flex-end;
        max-width: calc(100% - 30rem);
      }
    }

    .icon {
      height: auto;
      max-height: 1.8rem;
      max-width: 1.8rem;
      min-height: 1.8rem;
      width: 1.8rem;
    }
  }

  &__langs {
    padding-right: 1em;
  }

  ///
  /// User section inside utility
  ///
  &__user {
    &-label {
      margin-right: .5rem;
    }

    &-link {
      align-items: center;
      color: inherit;
      display: flex;
      position: relative;
      text-decoration: none;

      &--account {
        max-width: 100%;
      }

      &--highlighted {
        &::before {
          background: $yellow;
          border-radius: 50%;
          content: '';
          display: block;
          height: .5rem;
          position: absolute;
          right: 0;
          top: 0;
          width: .5rem;
          z-index: 1;
        }

        &.header {
          &__user-link {
            &--message {
              &::before {
                right: .25rem;
                top: .25rem;
              }
            }
          }
        }
      }

      .icon {
        margin: 0 .5rem;
      }
    }

    &-name {
      @include typography-ellipsis;
    }
  }

  ///
  /// Header's icons
  ///
  /// Can have modifiers:
  /// - round
  /// - facebook
  ///
  &__icon {
    color: inherit;
    display: inline-flex;
    overflow: hidden;
    transition: color .15s, border-color .15s, transform .15s;

    &:hover,
    &:focus,
    &:active {
      color: $header-blue;
      transform: scale(1.2);
    }

    &-link {
      color: inherit;
      display: flex;
      margin: 0 $tiny-spacing;
      text-decoration: none;

      &:first-of-type {
        margin-left: 0;
      }

      &:last-of-type {
        margin-right: 0;
      }

      &:hover,
      &:focus,
      &:active {
        color: inherit;
      }
    }

    &--facebook {
      background-image: url('../images/fb-white-72.png');
    }

    &--round {
      background-size: cover;
      border-radius: 50%;
      border: 2px solid;
      height: $header-utility-section-size;
      width: $header-utility-section-size;
    }
  }

  &__logo {
    &-link {
      left: $default-spacing;
      order: 0;
      position: absolute;
      top: $default-spacing;
    }
  }

  &__help {
    align-items: center;
    display: flex;
    flex: 1 1 40rem;
    font-size: .85rem;
    height: 4rem;
    justify-content: flex-end;

    &-phone {
      min-width: 21rem;
      padding: 0 $tiny-spacing 0 $huge-spacing;
    }

    &-phone,
    &-premium {
      align-items: center;
      display: inline-flex;
    }
  }

  &__premium {
    border-radius: $global-border-radius;
    border: 1px solid $black;
    flex: 2 1 12rem;
    justify-content: space-between;
    max-width: 24rem;
    padding: $small-spacing;
    text-decoration: none;
    width: 12rem;

    &-title {
      align-items: center;
      color: black;
      display: inline-flex;
      font-size: .85em;
      font-weight: 600;
      height: 100%;
      line-height: 1.2em;
      max-width: 8rem;
      text-align: center;
    }

    &-logo {
      height: 2.5rem;
      width: auto;
    }
  }

  &__content {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex: 1 1 100%;
    justify-content: space-between;
    margin-left: $header-logo-box-size;
    min-height: 4rem;
    order: 2;
    padding: $default-spacing;
    width: calc(100% - #{$header-logo-box-size});

    &-title {
      color: $header-logo-text-color;
      font-size: 1.125em;
      font-weight: bold;
      line-height: 1.4;
      max-width: 12rem;
      min-width: 12rem;
    }

    &--premium {
      justify-content: center;
      margin-left: 0;
      width: 100%;

      .header {
        &__content {
          &-title {
            align-items: center;
            display: inline-flex;
            height: 4rem;
            max-width: 100%;
          }
        }

        &__premium {
          &-logo {
            height: 100%;
            max-width: 100%;
            width: auto;
          }
        }
      }
    }
  }

  ///
  /// Header search bar with multiple states :
  ///
  /// - opened (only on home page)
  /// - inactive (default state)
  ///
  &__search {
    align-items: center;
    background-color: $header-secondary;
    color: $white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    order: 3;
    padding: $small-spacing;
    transition: background-color .25s, padding .25s;

    &-text,
    &-date {
      margin-right: $big-spacing;
    }

    &-date {
      min-width: 6rem;
    }

    &-label {
      margin-right: $default-spacing;
    }

    &-text {
      max-width: 25rem;
      min-width: 15rem;
      width: 35vw;
    }

    &-submit {
      background-color: $grey-darker;
      font-weight: bold;
      min-width: 10rem;
      text-transform: uppercase;
    }

    &-content {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      line-height: 2.25;
    }

    &-title {
      display: none;
      font-family: $title-fonts;
      justify-content: center;
      width: 100%;
      font-size: 2.5em;
      transition: opacity .25s, top .25s, margin-bottom .25s, height .25s, transform .25s .25s, font-size .25s;
    }

    &--opened {
      padding: $default-spacing $big-spacing $big-spacing;

      .header__search {
        &-title {
          display: inline-flex;
          margin-bottom: 1.5rem;
        }
      }
    }

    &:focus-within,
    &:hover {
      background-color: $yellow;
    }
  }

  &__dropdown {
    display: none;

    &-list,
    &-overlay {
      display: none;
      width: 100vw;
    }

    &-list {
      background: $grey-lighter;
      box-shadow: 0 .3rem .5rem -.3rem rgba($black, .8);
      height: auto;
      left: 0;
      max-height: calc(100vh - 3rem);
      overflow-y: auto;
      padding: 1rem 0 0;
      position: absolute;
      top: 3rem;
      z-index: 50;

      &--open {
        display: block;

        + .header {
          &__dropdown-overlay {
            display: block;
          }
        }
      }
    }

    &-overlay {
      min-height: 100vh;
      position: absolute;
      z-index: 40;
      top: 0;
      left: 0;

      &::before {
        background: rgba($black, .8);
        content: '';
        display: block;
        min-height: 100%;
        left: 0;
        position: absolute;
        top: 3rem;
        width: 100%;
      }
    }

    &-element {
      align-items: center;
      display: flex;
      font-family: $global-fonts;
      height: 3rem;
      justify-content: center;

      &--blue {
        background: $blue;
        margin-top: $default-spacing;

        .header {
          &__dropdown-link {
            color: $white;
          }
        }
      }
    }

    &-link {
      color: $blue;
    }
  }

  &__alert {
    &-box {
      align-items: center;
      justify-content: center;
      left: 0;
      position: fixed;
      top: 9rem;
      z-index: 40;

      &--notice {
        background: $yellow;
      }

      &--success {
        background: $success;
      }

      &--error {
        background: $warning;
      }

      &--alert {
        background: $alert;
      }
    }

    &-close {
      background: transparent !important;
      height: 2rem;
      margin-left: 2rem;
      position: relative !important;

      &:hover,
      &:active,
      &:focus {
        color: $white !important;
      }
    }
  }

  &--stuck {
    box-shadow: 0 0 $small-spacing rgba($black, .5);

    .header {
      &__search {
        &-title {
          font-size: 0;
          margin-bottom: 0;
          opacity: 0;
          transform: scaleY(0);
          transition: opacity .25s, top .25s, margin-bottom .25s, height .25s, transform .25s .25s, font-size .25s;
        }

        &--opened {
          padding: $small-spacing;
        }
      }
    }
  }
}

@media (max-width: $breakpoint-medium) {
  .header {
    &__search {
      &-title {
        font-size: 1.8em;
      }

      &--opened {
        padding: $default-spacing;
      }
    }

    &__help-premium {
      @include hide-visually;
    }
  }
}

@media (max-width: $breakpoint-small) {
  .header {
    &__dropdown {
      display: inline-flex;

      .button {
        font-size: 1.2rem;
      }
    }

    &__search {
      &-content {
        flex-wrap: nowrap;
        width: 100%;
      }

      &-title {
        @include hide-visually;
      }

      &-text,
      &-date {
        margin: 0;
        max-width: 100%;
      }

      &-text,
      &-submit {
        justify-content: center;
        width: 100%;
      }

      &-label,
      &-date,
      &-submit {
        @include hide-visually;
      }

      &-date {
        flex-grow: 1;
      }

      &--opened {
        padding: $small-spacing;
      }
    }

    &__utility {
      background: $white;
      font-size: .9rem;
      min-height: 3rem;
      padding-bottom: 0;
      padding-top: 0;
      transition: background-color .15s;

      &-section {
        padding: 0 $default-spacing;

        &--account {
          max-width: 100%;

          .icon {
            fill: $blue;
          }
        }

        &--separator {
          border-right: 1px solid $blue;
        }
      }

      .icon {
        max-height: 1.2rem;
        min-height: 1.2rem;
        min-width: 1.2rem;
      }
    }

    &__langs {
      padding-right: 0;
    }

    &__content {
      margin-left: 5rem;
      width: calc(100% - 5rem);

      &--premium {
        max-height: 5rem;
      }

      &-title {
        font-size: .75em;
        max-width: 11rem;
        min-width: 11rem;
      }
    }

    &__logo {
      height: 2.5rem;
      width: auto;

      &-link {
        left: .5rem;
        top: .25rem;
      }
    }

    &__icon {
      &-link {
        margin-right: .5rem;
      }

      &--round {
        border: 1px solid $white;
      }
    }

    &__user {
      &-label,
      &-name {
        @include hide-visually;
      }

      &-link {
        &:not(&--account) {
          @include hide-visually;
        }

        .icon {
          margin: 0;
        }
      }
    }

    &__help {
      @include hide-visually;
    }

    &__alert {
      &-box {
        min-height: 3.75rem;
        top: 6rem;

        .title {
          font-size: 1em;
        }
      }

      &-close {
        margin-left: 0;
      }
    }
  }
}

@media screen and (min-width:0\0) {
  .header {
    .content__element {
      min-width: 15rem;
    }
  }
}

@media #{"\\0 screen"} {
  .header {
    .content__element {
      min-width: 15rem;
    }
  }
}

@media not all and (min-resolution:.001dpcm)
{ @supports (-webkit-appearance:none) {
  .header {
    .content__element {
      min-width: 15rem;
    }
  }
}}
