////
/// @author Drakona <contact@drakona.fr>
/// @group front/abstracts
///
/// @since 08/02/2019
////

// Fonts
$flag-icon-css-path: "../images/flags" !default;
$flagsImagePath: "../images/" !default;

/// @type string | list
$main-fonts: 'Helvetica', 'Arial' !default;

// Colors
/// @type color
$black: #000 !default;

/// @type color
$white: #FFF !default;

/// @type color
$alert: #DB1E1E !default;

/// @type color
$blue: #333E80 !default;

/// @type color
$success: #00C143 !default;

/// @type color
$blue-secondary: #90B0C7 !default;

/// @type color
$yellow: #FEB914 !default;

/// @type color
$warning: #FF9D00 !default;

/// @type color
$grey-darker: #525252 !default;

/// @type color
$grey-dark: #959595 !default;

/// @type color
$grey-medium: #C6C4C5 !default;

/// @type color
$grey-light: #D7D7D7 !default;

/// @type color
$grey-lighter: #EEEEEE !default;

/// @type color
$grey-lightest: #F6F6F6 !default;

/// @type color
$color-main: $blue !default;

/// @type color
$color-secondary: $blue-secondary !default;

$container-colors: (
  'black': $black,
  'white': $white,
  'alert': $alert,
  'blue': $blue,
  'blue-alt': $blue-secondary,
  'blue-secondary': $blue-secondary,
  'success': $success,
  'warning': $warning,
  'yellow': $yellow,
  'grey-darker': $grey-darker,
  'grey-dark': $grey-dark,
  'grey-medium': $grey-medium,
  'grey-light': $grey-light,
  'grey-lighter': $grey-lighter,
  'grey-lightest': $grey-lightest,
  'color-main': $color-main,
  'color-secondary': $color-secondary,
  'transparent': transparent
);


// Spacings
/// @type number
$default-spacing: 1em !default;

/// @type number
$medium-spacing: $default-spacing * 1.5 !default;

/// @type number
$big-spacing: $default-spacing * 2 !default;

/// @type number
$huge-spacing: $default-spacing * 3 !default;

/// @type number
$small-spacing: $default-spacing / 2 !default;

/// @type number
$tiny-spacing: $default-spacing / 4 !default;


// Responsive breakpoints
/// @type number
$breakpoint-medium: 90rem !default;

/// @type number
$breakpoint-small: 48rem !default;

/// @type number
$global-max-width: $breakpoint-medium !default;

/// @type number
$global-border-radius: $tiny-spacing !default;


// Fontslink
/// @type string
$global-fonts: 'Fira Sans', sans-serif !default;

/// @type string
$title-fonts: 'Fauna One', serif !default;

// content sizing
$content-sizes: (
  'none': 0,
  '4': 4rem,
  '5': 5rem,
  '6': 6rem,
  '7': 7rem,
  '8': 8rem,
  '9': 9rem,
  '10': 10rem,
  '12': 12rem,
  '15': 15rem,
  '19': 19rem,
  '20': 20rem,
  '25': 25rem,
  '30': 30rem,
  'tiny': .25rem,
  'small': .5rem,
  'default': 1rem,
  'medium': 1.5rem,
  'big': 2rem,
  'huge': 3rem,
  'quarter': 25%,
  'tier': 33%,
  'half': 50%,
  'tier-2': 66%,
  'full': 100%,
);
