/* Variables */

:root {
  --ev-section-padding: 2rem;
  --ev-section-margin: 1rem;
  --ev-element-margin: 1rem;
}

/* RESET */

* {
  box-sizing: border-box;
}

ul {
  list-style: initial;
}

.theme-default-content:not(.custom) {
  max-width: 80% !important;
}

/* Propriété propres à la doc */

.example {
  background-color: #EEE;
  border: 1px solid #CCC;
  color: #FFF;
  margin-bottom: 3rem;
  margin-top: 1rem;
  width: 100%;
}

.example .ev-element {
  padding: .5rem 1rem;
  justify-content: center;
}

.element:nth-of-type(1) {
  background-color: #2196f3;
}

.element:nth-of-type(2) {
  background-color: #087dd1;
}

.element:nth-of-type(3) {
  background-color: #1565c0;
}

.element:nth-of-type(4) {
  background-color: #0d47a1;
}

.element:nth-of-type(5) {
  background-color: #1a237e;
}

.element:nth-of-type(6) {
  background-color: #000051;
}

.example .ev-element__wrapper:not(:first-of-type) {
  margin-top: 1rem;
}

.example__flex-align .ev-element:nth-of-type(1) {
  height: 3rem;
  line-height: 2.5rem;
}

.example__flex-align .ev-element:nth-of-type(2) {
  height: 6rem;
  line-height: 5.5rem;
}

.example__flex-align .ev-element:nth-of-type(3) {
  height: 8rem;
  line-height: 7.5rem;
}

.example__flex-align .ev-element:nth-of-type(4) {
  height: 4rem;
  line-height: 3.5rem;
}

.example__flex-align-baseline .ev-element:nth-of-type(1) {
  font-size: .9rem;
  line-height: 2.5rem;
}

.example__flex-align-baseline .ev-element:nth-of-type(2) {
  font-size: 1.2rem;
  line-height: 2.5rem;
}

.example__flex-align-baseline .ev-element:nth-of-type(3) {
  font-size: 2rem;
  line-height: 2.5rem;
}

.example__flex-align-baseline .ev-element:nth-of-type(4) {
  font-size: .7rem;
  line-height: 2.5rem;
}

.example__flex-align-baseline {
  position: relative;
}

.example__flex-align-baseline .baseline {
  border-top: 2px dashed red;
  height: 0;
  position: absolute;
  top: 2.4rem;
  width: 100%;
  z-index: 10
}

.example--flex-wrap .ev-element, .example--flex-nowrap .ev-element {
  max-width: 28%;
  min-width: 28%;
}

.example--flex-nowrap {
  overflow: hidden;
}


.header, .content, .menu, .footer {
  border: 1px solid #000051;
}

.header, .content, .footer {
  font-weight: 600;
  line-height: 3rem;
}

.content {
  background-color: #eee;
}

.column-1 {
  flex-grow: 1;
}

.header__action {
  display: flex;
}

.menu {
  align-items: center;
  background: #EEE;
  display: flex;
  font-weight: 600;
  justify-content: center;
  width: 8rem;
}

.section {
  background-color: #ccc;
}

.section__header {
  background: #404040;
  color: #fff;
  min-height: 2.5rem;
}

.section__title {
  border: 0 !important;
  font-size: 1.2rem;
  margin: 0 !important;
  padding: 0 !important;
}

.section__content {
  border-bottom: 1px solid #bbb;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.element__wrapper:first-of-type.element:first-of-type {
  margin-top: 1rem;
}

.element {
  border: 1px solid #000;
  color: #fff;
  font-size: .8rem;
  font-weight: 600;
  text-align: center;
  padding: .25rem .5rem;
}

.content {
  background-color: #eee;
  flex-wrap: wrap;
}

/* E-VINRUDE */

.ev-content {
  display: flex;
  flex-wrap: wrap;
}

.ev-content--column {
  flex-wrap: nowrap;
}

.ev-section__header, .ev-section__content {
  padding: 0 var(--ev-section-padding);
}

.ev-section, .ev-section__header {
  display: flex;
  width: 100%;
}

.ev-layout {
  display: flex;
  flex-direction: column;
}

.ev-layout--column {
  flex-direction: row;
}

.ev-section {
  margin: var(--ev-section-margin);
  flex-direction: column;
  flex-wrap: wrap;

  &--column {
    flex-direction: row;
  }
}

.ev-section__header {
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.ev-section__content {
  max-width: 100%;
}

.ev-section__title {
  flex-grow: 1;
  flex-basis: 0;
  line-height: 100%;
}

.ev-element__wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 100%;
  width: 100%;
}

.ev-element__wrapper--gutter {
  left: calc(var(--ev-element-margin) * -1);
  max-width: calc(100% + var(--ev-element-margin) * 2);
  min-width: calc(100% + var(--ev-element-margin) * 2);
  position: relative;
}

.ev-element__wrapper--gutter .ev-element {
  margin: 0 var(--ev-element-margin) 1rem;
}

.ev-element__wrapper .ev-element {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
}

.ev-element--half {
  max-width: 50%;
  min-width: 50%;
}

.ev-element--tier {
  max-width: calc(100% / 3);
  min-width: calc(100% / 3);
}

.ev-element--tier-2 {
  max-width: calc(100% / 1.5);
  min-width: calc(100% / 1.5);
}

.ev-element--quarter {
  max-width: 25%;
  min-width: 25%;
}

.ev-element--quarter-3 {
  max-width: 75%;
  min-width: 75%;
}

.ev-element--sixth {
  max-width: calc(100% / 6);
  min-width: calc(100% / 6);
}

.ev-element--sixth-5 {
  max-width: calc(500% / 6);
  min-width: calc(500% / 6);
}

.ev-element__wrapper--gutter .ev-element--half {
  max-width: calc(50% - var(--ev-element-margin) * 2);
  min-width: calc(50% - var(--ev-element-margin) * 2);
}

.ev-element__wrapper--gutter .ev-element--tier {
  max-width: calc(100% / 3 - var(--ev-element-margin) * 2);
  min-width: calc(100% / 3 - var(--ev-element-margin) * 2);
}

.ev-element__wrapper--gutter .ev-element--tier-2 {
  max-width: calc(100% / 1.5 - var(--ev-element-margin) * 2);
  min-width: calc(100% / 1.5 - var(--ev-element-margin) * 2);
}

.ev-element__wrapper--gutter .ev-element--quarter {
  max-width: calc(25% - var(--ev-element-margin) * 2);
  min-width: calc(25% - var(--ev-element-margin) * 2);
}

.ev-element__wrapper--gutter .ev-element--quarter-3 {
  max-width: calc(75% - var(--ev-element-margin) * 2);
  min-width: calc(75% - var(--ev-element-margin) * 2);
}

.ev-element__wrapper--gutter .ev-element--sixth {
  max-width: calc(100% / 6 - var(--ev-element-margin) * 2);
  min-width: calc(100% / 6 - var(--ev-element-margin) * 2);
}

.ev-element__wrapper--gutter .ev-element--sixth-5 {
  max-width: calc(500% / 6 - var(--ev-element-margin) * 2);
  min-width: calc(500% / 6 - var(--ev-element-margin) * 2);
}

/* Basis */

.ev-basis--half {
  flex-basis: 50%;
}

.ev-basis--5 {
  flex-basis: 5rem;
}

/* Grow */

.ev-grow--1 {
  flex-grow: 1;
  flex-grow: 1;
}

.ev-grow--3 {
  flex-grow: 3;
  flex-grow: 3;
}

/* Shrink */

.ev-shrink--2 {
  flex-shrink: 2;
}

.ev-shrink--3 {
  flex-shrink: 3;
}

/* Direction */

.ev-direction--row {
  flex-direction: row;
}

.ev-direction--column {
  flex-direction: column;
}

.ev-direction--row-reverse {
  flex-direction: row-reverse;
}

.ev-direction--column-reverse {
  flex-direction: column-reverse;
}

/* Justify */

.ev-justify--center {
  justify-content: center;
}

.ev-justify--start {
  justify-content: flex-start;
}

.ev-justify--end {
  justify-content: flex-end;
}

.ev-justify--between {
  justify-content: space-between;
}

.ev-justify--around {
  justify-content: space-around;
}

.ev-justify--evenly {
  justify-content: space-evenly;
}

/* Align */

.ev-align--center {
  align-items: center;
}

.ev-align--start {
  align-items: flex-start;
}

.ev-align--end {
  align-items: flex-end;
}

.ev-align--baseline {
  align-items: baseline;
}

.ev-align--stretch {
  align-items: stretch;
}

/* Order */

.ev-order--1 {
  order: 1;
}

.ev-order--2 {
  order: 2;
}

.ev-order--3 {
  order: 3;
}

.ev-order--4 {
  order: 4;
}

/* Wrap */

.ev-wrap {
  flex-wrap: wrap;
}

.ev-nowrap {
  flex-wrap: nowrap;
}

/* Width */

.ev-width--half {
  width: 50%;
}

/* Typography */

.ev-text--center {
  text-align: center;
}

/* RESPONSIVE */

@media screen and (max-width: 800px) {
  .ev-element__wrapper--gutter {
    left: 0;
    max-width: 100%;
    min-width: 100%;
  }

  .ev-element__wrapper .ev-element {
    max-width: 100%;
    min-width: 100%;
  }

  .ev-element__wrapper--gutter .ev-element {
    margin-left: 0;
    margin-right: 0;
  }
}
